.ML-xuanchuan img{
    width: 100%;
    height: 460px;
}
#content{
    top: 80px;
}
.cs{
    height: 460px;
}
.jinzhun-name{
    text-align: center;
    margin: 20px 0;
}
.jinzhun-name img{
    width: 232px;
    height: 20px;
}
.person{
    
    background-color: #FEF7F6;
}
.person-name{
    background-color: white;
    text-align: center;
    margin: 20px 0;
}
.person-name img{
    width: 90%;
    height: 60px;

}
.person-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.person-content .person-content-item{
    width: 160px;
    height: 228px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(187, 187, 187, 0.5);
}
.person-content .person-content-item img{
    width: 28px;
    height: 28px;
}
.person-content .person-content-item p{
    font-size: 13px;
    line-height: 25px;
    color: #CFCFCF;
}
.person-content .person-content-item h4{
    font-size: 15px;
    line-height: 40px;
}
.person-content .person-content-item div{
    margin-top: 30px;
}
.person-content-item a{
    line-height: 50px;
    font-size: 14px;
}
.tupo-name{
    text-align: center;
    margin: 20px 0;
}
.tupo-name img{
    width: 232px;
    height: 20px;
}
.tupo-content{
    text-align: center;
    margin: 20px 0;
}
.tupo-content img{
    width: 100%;
    height: 390px;
}
.five-name{
    text-align: center;
    margin: 20px 0;
}
.five-name img{
    width: 192px;
    height: 26px;
}
.five-item{
    text-align: center;
    margin: 20px auto;
}
.five-item select{
    height: 35px;
    line-height: 35px;
    width: 45%;
    margin-bottom: 20px;
}

.five-back {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 350px;
    position: relative;
}

.five-back>div{
    position: relative;
    z-index: 1;
    padding-top: 220px;
    padding-left: 20px;
}
.five-back>div>p{
    text-align: left;
    font-size: 13px;
    color: white;
    line-height: 25px;  
}
.five-back>.five-backls{
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.five-back>.fives{
    padding: 0;
    position: absolute;
    top: 200px;
    width: 100vw;
    height: 150px;
    background-color: #5e3196;
}
.five-backls>div{
    position: relative;
    width: 17.2vw;
    float: left;
    background-color: #23227d;
    border-radius: 15px  0 0 0;
    color: #23227d;
    font-weight: bold;
    bottom: 0px;
}
.five-backls>div>p{
    position: absolute;
    width: 100%;
    top: -25px;
    text-align: center;
}
.five-backls>div>div{ 
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    width: 30px;
    color: white;
}
.five-backls>div:nth-of-type(1){
    height: 60px;
}
.five-backls>div:nth-of-type(2){
    height: 90px;
}
.five-backls>div:nth-of-type(3){
    height: 120px;
}.five-backls>div:nth-of-type(4){
    height: 150px;
}.five-backls>div:nth-of-type(5){
    height: 180px;
}
.five-backls>.tabha{
    background: #5e3196;
        color: #5e3196;
}
.shangke-input{
    width: 90%;
    margin: 0 auto;
}
.course-price-get{
    width: 90%;
    margin: 20px auto;
    text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
    background:linear-gradient(269deg,rgba(236,88,41,1) 0%,rgba(241,152,72,1) 34%,rgba(241,202,72,1) 100%);
}

.six-name{
    text-align: center;
    margin: 20px 0;
}
.six-name img{
    width: 192px;
    height: 26px;
}
.six-content{
    width: 100%;
    /* margin: 20px 0; */
    background-color: #F3F2F7;
}
.six-content-items{
    padding: 15px;
    margin: 0px auto;
}
.six-content .six-content-item{
    margin-bottom: 15px;
    background-image: url("./../images/seaside/zhongxiaoxue/zu 32(1).png");
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.six-content .six-content-item div{
    display: flex;
    justify-content: flex-start;
    height: 30px;
    line-height: 30px;
}
.six-content .six-content-item p{
    font-size: 12px;
}
.six-content .six-content-item div img{
    margin-top: 4px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
}
.six-content .six-content-item div h4{
    font-size: 14px;
}
.xiangqing{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    color: white;
    height: 35px;
    line-height: 35px;
    background:linear-gradient(269deg,rgba(236,88,41,1) 0%,rgba(241,152,72,1) 34%,rgba(241,202,72,1) 100%);
}
.seven-name{
    text-align: center;
    margin: 20px 0;
}
.seven-name img{
    width: 192px;
    height: 26px;
}

.seven-content{
    position: relative;
    background-image: url("./../images/seaside/zhongxiaoxue/zu 32(2).png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    box-sizing: border-box;
    background-color: #F1F4F9;
}
.dingwei{
    position: absolute;
    bottom: 20px;
    left: calc(15%);
}
.teacher-name2{
    text-align: center;
}
.teacher-name2 img{
    width: 50%;
    height: 60px;

}
.teacher-content {
    width: 100%;
    margin: 0 auto;
}
.teacher .talk{
    position: relative; 
    left: 70px;
    width: 235px;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    z-index: 9;
}
.teacher .teacher-choose{
    text-align: center;
    margin-top: 40px;
}
.teacher .teacher-choose img{
    width: 90%;
    height: 245px;
}
.teacher{
    height: 550px;
}
.teacher-name2{
    text-align: center;
    margin: 20px 0;
}
.teacher-name2 img{
    width: 162px;
    height: 20px;
}
.teacher .talk{
    background:linear-gradient(269deg,rgba(236,88,41,1) 0%,rgba(241,152,72,1) 34%,rgba(241,202,72,1) 100%);
    top: -14px;
}
.teacher .teacher-choose{
    position: relative;
    top: -75px;
}
.home-content{
    text-align: center;
    margin: 20px 0;
}
.home-content .p1{
    width: 90%;
    height: 725px;
}
.home-content .p2{
    width: 192px;
    height: 26px;
}
.environment-name{
    text-align: center;
    margin: 20px 0;
}
.environment-name img{
    width: 160px;
    height: 20px;
}
.products{
    margin-top: 80px;
}
.environment-content{
    text-align: center;
    margin-bottom: 20px;
}
.environment-content img {
    width: 90%;
}
.environment{
    height: 730px;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 6px;
    display: inline-block;
    border-radius: 20%;
    background: #000;
    opacity: .2;
}