
.chunji-xuanchuan img {
    width: 100vw;
    height: 560px;
}

.time-out {
    top: 49px;
}

.cs {
    /* top: -50px; */
}

.online {
    width: 100%;
    /* text-align: center; */
}

.online .online-name {
    height: 50px;
    text-align: center;
}

.online .online-name img {
    width: 90vw;
    height: 50px;
    text-align: center;
}

.course-price {
    margin-top: 20px;
}
.online .online-content{
    width: 100vw;
    height: 300px;
    margin-top: 10px;
    background-image: url(./../images/seaside/online1.png);
    background-size: contain;
    background-position-x: 10px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}
.online-content .txt1{
    position: relative;
    left: 70px;
    top: 20px;
}
.online-content .txt2{
    position: relative;
    left: 70px;
    top: 130px;
}
.online-content .txt3{
    position: relative;
    left: 70px;
    top: 75px;
}
.online-content p{
    font-size: 12px;
    color: rgb(50, 80, 233);
    width: 270px;
}

.teacher{
    position: relative;
    height: 480px;
}
.teacher-name{
    width: 145px;
    height: 20px;
    margin: 20px auto;
}
.teacher-name img{
    width: 145px;
    height: 20px;
}
.teacher-content{
    width: 90%;
    height: 250px;
    margin: 0 auto;
}
.teacher .talk{
    position: absolute;
    top: 215px;
    left: 70px;
    width: 235px;
    height: 35px;
    background-color: #2A1DF0;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    z-index: 9;
}
.teacher-choose{
    position: relative;
    top: -60px;
    width: 100%;
    height: 250px;
}
.teacher-choose img{
    width: 100%;
    height: 250px;
}
.environment-name{
    width: 160px;
    height: 20px;
    margin: 20px auto;
}
.environment-name img{
    width: 160px;
    height: 20px;
}
.environment-content{
    height: 520px;
    width: 90%;
    margin: 0 auto;
}
.environment-content img{
    height: 520px;
    width: 100%;
}
.environment .environment-price-get{
    width: 90%;
    height: 35px;
    font-size: 12px;
    color: white;
    /* font-weight: bold; */
    line-height: 35px;
    /* margin: 10px 0; */
    margin: 10px auto;
    text-align: center;
    background-color: #2D8FED;
}

/* tab选项卡 */
.chunji-tab-bar {
    width: 100%;
    margin: 0 auto;
    height: 430px;
    background-color: white;
}

.chunji-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto 10px;
    padding-top: 20px;
}

.chunji-tab-bar>span {
    width: 85px;
    height: 24px;
    font-size: 12px;
}

.chunji-tab-content {
    width: 90%;
    height: 370px;
    margin: 0 auto;
    box-shadow: 2px -3px 2px 4px rgba(247, 247, 247);
    border-radius: 10px;
    background-color: rgba(250, 250, 250);
}

.chunji-tab>span {
    font-size: 12px;
}

.chunji-tab>.show1 {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    border-bottom: 2px solid rgb(255, 139, 76);
}

.chunji-tab-items {
    display: none;
}

.show2 {
    display: block;
}

.chunji-tab-items-title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 8px auto;
    height: 30px;
    line-height: 30px;
}

.chunji-tab-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 310px;
    margin: 0px auto;
}

.chunji-tab-item-content>div {
    width: 38vw;
    height: 310px;
}

.chunji-tab-item-content span img {
    width: 38vw;
    margin-bottom: 20px;
}

.zixun {
    width: 87px;
    height: 24px;
}

.chunji-tab-item-content .zixun1 {
    position: relative;
    top: -259px;
    left: 9px;
}

.chunji-tab-item-content .zixun2 {
    position: relative;
    bottom: 68px;
    right: -9px;
}

