* {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    position: fixed;
    left: 0;
    top: -2px;
    width: 100vw;
    height: 50px;
    z-index: 999;
    background-color: white;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

header ul li img {
    margin-top: 5px;
}

.time-out {
    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 50px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(23, 23, 23, 0.4);
    z-index: 999;
}

.cs {
    position: relative;
    top: 50px;
    height: 300px;
    /* background-color: green; */
    margin-bottom: 50px;
    background-color: white;
}

.cdd {
    position: relative;
    height: 800px;
    background-color: blue;
}

.timeItem {

    display: inline-block;
    font-size: 12px;
    padding: 0px 8px;
    color: black;
    border-radius: 5px;
    background: white;
}

.dot {
    display: inline-block;
    padding: 0px 4px;
    font-size: 11px;
    color: white;
    font-weight: bold;
    vertical-align: top;
}

.time-title {
    margin: 5px 0;
    width: 50vw;
    /* display: inline-block; */
    text-align: center;
}

.time-title>span {
    font-size: 11px;
    display: block;
}

.times {
    display: inline-block;
}

.swiper-container {
    width: 100%;
    height: 188px;
}

.swiper-slide {
    width: 100%;
    height: 188px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.settings {
    position: relative;
    top: -10px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    z-index: 9;
    border: 1px solid rgba(128, 128, 128, 0.397);
}

.settings>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 50px;
    margin: 20px auto 5px;
}

.settings>ul>li>img {
    width: 30px;
    height: 30px;
}

.settings-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin: 0 auto;
}

.settings-name>span {
    font-size: 10px;
    width: 60px;
    height: 20px;
    text-align: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: white;
    z-index: 9;
    margin-top: 4.25rem;
}

footer>ul {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.free img {
    width: 100%;
}

.products {
    background-color: white;

}

.products img {
    width: 100%;
}

footer>ul>li {
    width: 25%;
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    margin-top: 20px;
}

footer>ul>li img {
    width: 60px;
    height: 45px;
    z-index: 999;
}

.clear {
    height: 60px;
}


/* zhexhao */
#bg {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    transition: width 1s;
}

#show {
    display: none;
    position: absolute;
    top: 25%;
    left: 22%;
    width: 53%;
    height: 49%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    z-index: 1002;
    overflow: auto;
}
.index-nav{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 1001;
    overflow: hidden;
}
.index-nav div{
}
.baise{
    background-color: white;
    height: 100%;
    width: 50%;
}
.yinying{
    background-color: rgba(0, 0, 0, 0.493);
    height: 100%;
    width: 50%;
}
.baise .baise-name{
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
.baise .baise-name img{
    width: 65px;
    height: 50px;
}
.baise .baise-name h4{
    line-height: 40px;
}
.baise .baise-name p{
    font-size: 12px;
}
.baise-content div{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.baise-content img{
    margin-left: 20px;
    width: 25px;
    height: 25px;
}
.baise-content p{
    margin-left: 20px;
}
.foots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 60px auto 0;
}
.foots div{
    text-align: center;
}
.foots div img{
    width: 13px;
    height: 15px;
}
.foots div p{
    font-size: 12px;
}