

/* experience */
.experience{
    width: 100%;
    position: absolute;
    top: 240px;
}
.experience>img{
    width: 100%;
    /* box-shadow:1vw 1vw 2vw lightslategrey; */
}

/* team */
.team{
    width: 100%;
    margin-top: 75px;
    position: relative;
}
.team>img{
  width: 95%;
  margin: auto;
  margin-left: 2.5vw;
  margin-top: 150px;
  border-radius: 1vw;
  
}
.team_title{
    width:306px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: 119px;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
        font-weight: bolder;
    background:linear-gradient(270deg,#4c26f4 0%,rgb(87, 203, 238) 100%);
}
.team_content{
    width: 327px;
    position: absolute;
    top: 176px;
    left: 50%;
    transform: translate(-46%);
    line-height: 9vw;
}
.team_content>p{
    font-size: 12px;
    font-weight:400;
    line-height: 30px;
}
/* know_t */
.know_t{
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 7vw;
}
.know_t>img{
    width: 100%;
    display: inline-block;
    position: absolute;
}
.km{
    width: 47vw;
    height: 9vw;
    background-color: rgb(250,203,0);
    margin-top: 24vw;
    margin-left: 2vw;
    display: inline-block;
    position: relative;
    line-height: 25px;
}
.km>p{
      text-align: center;
    margin: auto;
    height: 100%;
    font-weight: bolder;
    line-height: 33px;
}

/*lunbo  */
.lunbo{
    width: 100vw;
    /* height: 600px; */
    margin-top: 20vw;
    /* width: 92vw;
    height: 70vw;
    border: 1px solid #000; */
    box-sizing: border-box;
    margin: auto;
}

/* choies */
.choies{
    width: 100%;
    margin-top: 24vw;
}
.choies>img{
    width: 93%;
    margin: 0 auto;
    display: block;
}

/* public */
.ly{
    border: 1px solid #000;
    box-sizing: border-box;
    width: 93vw;
    height: 40vw;
    margin: auto;
    margin-top: 6vw;
}

.git{
    width: 80%;
    background-color: linear-gradient(to right, red , yellow);
    /* box-sizing: border-box; */
    color: white;
    border-radius: 1vw;
    margin: auto;
    text-align: center;
    margin-top: 1vw;
}

.chunji-xuanchuan img {
    width: 100%;
    height: 198px;
    display: inline-block;
    position: relative;
}

.time-out {
    top: 49px;
}

.cs {
    top: -8px;
}
.shangke-input {
    width: 90%;
    margin: 0 auto;
    margin-top: 16px; 
}
.course-price-get{
   width:90%;
   height:38px;
   margin: 10px auto;
   text-align: center;
   line-height: 38px;
   color: #fff;
   background:linear-gradient(101deg,rgba(37,88,255,1) 0%,rgba(74,143,230,1) 99%);
}