html{
    width: 100%;
}

/* banner */
.fi{
    width: 100%;
}
.fi>img{
    display: inline-block;
    width: 100%;
    margin: auto;
    box-shadow:1vw 1vw 2vw lightslategrey;
}

/* skill */
.skill{
    width: 100%;
    margin-top: 6vw;
}
.skill>img{
    width: 80%;
    margin: auto;
}
.xuanze{
    width: 90%;
    /* border: 1px solid #000; */
    /* box-sizing: border-box; */
    margin: auto;
    margin-top: 2vw;
    /* width: 42vw; */
    height: 10vw;
    display: flex;
    justify-content:space-between
}
.grade,.subject{
    display: inline-block;
    /* border: 1px solid #000;
    box-sizing: border-box; */
    width: 42vw;
    height: 10vw;
    
}
.grade>select{
    width: 100%;
    height: 100%;
}
.subject>select{
    width: 100%;
    height: 100%;
}
.yangtu{
    width: 100%;
    /* margin-top: 2vw; */
}
.yangtu>img{
    width: 100%;
    box-shadow:1vw 1vw 2vw lightslategrey;
}

/* monitor */
.monitor{
    margin-top: 6vw;
    width: 100%;
}
.monitor>img{
    width: 80%;
    margin: auto;
    margin-top: 3vw;
}
.fenlei{
    width: 100%;
}
.fenlei>img{
    width: 90%;
    margin: auto;
    box-shadow:1vw 1vw 2vw lightslategrey;
    margin-top: 2vw;
}
.fenlei_p{
    width: 80%;
    height: 9vw;   
    margin: auto;
    margin-top: 3vw;
    text-align: center;
    color: white;
    font-size: 2vw;
    background: linear-gradient(-30deg,rgba(37,88,255,1) 0%, rgba(74,143,230,1) 98.7060546875%);
}
.pl{
    background:linear-gradient(-30deg,rgba(37,88,255,1) 0%, rgba(74,143,230,1) 98.7060546875%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    /* margin: auto; */
    font-size: 5vw;
    font-weight: 5vw;
    font-family:HYYaKuHeiW;
    text-align: center;
    margin-top: 2vw;
}