html{
    width: 100%;
}
header{
    width: 100%;
    height: 79vw;
    /* border: 1px solid #000;
    box-sizing: border-box; */
}
img{
    width: 100%;
    /* box-shadow:1vw 1vw 2vw lightslategrey; */
}
.banner{
    width: 100%;
}
.banner>img{
    width: 100%;
    box-shadow:1vw 1vw 2vw lightslategrey;

}
/*  
    width: 100%;
} */
/* 选择原因 */
.reason{
    width: 100%;
}
.reason>div{
    width: 100%;
    margin-top: 6vw;
}
.reason>img{
    width: 100%;
    box-shadow:1vw 1vw 2vw lightslategrey;
    
}
.tl{
    margin-top: 6vw;
}
.reason p{
    width: 100%;
    margin: auto ;
    color: darkgray;
    text-align: center;
    margin-top: 2vw;
}
.jion{
    width: 80%;
    border: 1px solid rgb(255,80,77);
    background-color: rgb(255,80,77);
    box-sizing: border-box;
    color: white;
    border-radius: 1vw;
}

/* start */
.start{
    margin-top: 6vw;
}
.start>p{
    color: darkgray;
    text-align: center;
    margin-top: 2vw;
}
.method{
    margin-top: 3vw;
}
.method>img{
    box-shadow:1vw 1vw 2vw lightslategrey;
}

/* 公共————计价 */
.git{
    width: 80%;
    border: 1px solid rgb(255,80,77);
    background-color: rgb(255,80,77);
    box-sizing: border-box;
    color: white;
    border-radius: 1vw;
    margin: auto;
    text-align: center;
    margin-top: 1vw;
}

/* cammp */
.cammp{
    margin-top: 6vw;
}
.cammp>p{
    color: darkgray;
    text-align: center;
    margin-top: 2vw;
}

/* broke */
.broke{
    margin-top: 6vw;
}
.broke>p{
    color: darkgray;
    text-align: center;
    margin-top: 2vw;
}
.different{
    margin-top: 3vw;
}
.different>img{
    box-shadow:1vw 1vw 2vw lightslategrey;
}
.in{
    width: 80%;
    border: 1px solid rgb(255,80,77);
    background-color: rgb(255,80,77);
    box-sizing: border-box;
    color: white;
    border-radius: 1vw;
    margin: auto;
    text-align: center;
    margin-top: 2vw;
}

/*more*/
.more{
    margin-top: 6vw;
}
.more>p{
    color: darkgray;
    text-align: center;
    margin-top: 2vw;
}
.plan{
    margin-top: 3vw;
}
.plan>img{
    box-shadow:1vw 1vw 2vw lightslategrey;
}

/* charge */
.charge{
    margin-top: 6vw;
}
.charge>p{
    color: darkgray;
    text-align: center;
    margin-top: 2vw;
}
.price{
    margin-top: 3vw;
}
.price>img{
    box-shadow:1vw 1vw 2vw lightslategrey;
}

/* teach */
.teach{
    margin-top: 6vw;
}
.teacher{
    margin-top: 6vw;
}
.teacher>img{
    box-shadow:1vw 1vw 2vw lightslategrey;
}
.teacher .talk{
    background:linear-gradient(269deg,rgba(236,88,41,1) 0%,rgba(241,152,72,1) 34%,rgba(241,202,72,1) 100%);
    top: 220px;
}

/* environment */
.environment{
    margin-top: 6vw;
}
.en{
    width: 90%;
    margin: auto;
    margin-top: 3vw;
}
.en>img{
    box-shadow:1vw 1vw 2vw lightslategrey;
}