<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/1v1.css">
    <title>中小学一对一页面</title>
</head>

<body>
    <!-- 顶部公共部分 -->
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <!-- 站位unmount -->
    <div class="time-out">
        <div class="time-title time1"><span>2020高考倒计时</span></div>
        <div class="time-title time2"><span>2020中考倒计时</span></div>
    </div>
    <div class="cs">
        <div class="ML-xuanchuan"><img src="./../images/seaside/zhongxiaoxue/banner.png"> </div>

    </div>
    <div id="content">
        <!-- 精准定位 -->
        <div class="jinzhun">
            <div class="jinzhun-name">
                <img src="./../images/seaside/zhongxiaoxue/xiaobioati.png" alt="">
            </div>
            <div class="person-content">
                <div>
                    <div class="person-content-item">
                        <div>
                            <img src="../images/seaside/zhongxiaoxue/kecheng-2.png" alt="">
                            <h4>同步巩固课</h4>
                            <p>学习基础薄弱</p>
                            <p>跟不上教学进度</p>
                            <a href="#">立即咨询&gt;</a>
                        </div>
                    </div>
                    <div class="person-content-item">
                        <div>
                            <img src="../images/seaside/zhongxiaoxue/kechengguanli.png" alt="">
                            <h4>潜能特色课</h4>
                            <p>部分学科偏科</p>
                            <p>无法名列前茅</p>
                            <a href="#">立即咨询&gt;</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="person-content-item">

                        <div>
                            <img src="../images/seaside/zhongxiaoxue/kechengbiao.png" alt="">
                            <h4>专项强化课</h4>
                            <p>三天打鱼两天晒网</p>
                            <p>成绩起伏明显</p>
                            <a href="#">立即咨询&gt;</a>
                        </div>
                    </div>
                    <div class="person-content-item">
                        <div>
                            <img src="../images/seaside/zhongxiaoxue/buke.png" alt="">
                            <h4>冲刺突破课</h4>
                            <p>毕业年级全面</p>
                            <p>梳理知识，考前强化</p>
                            <a href="#">立即咨询&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 私人订制 突破 -->
        <div class="tupo">
            <div class="tupo-name">
                <img src="./../images/seaside/zhongxiaoxue/xiaobioati.png" alt="">
            </div>
            <div class="tupo-content">
                <img src="./../images/seaside/zhongxiaoxue/sirendingzhi.png" alt="">
            </div>
        </div>
        <!-- 五阶教学 -->
        <div class="five">
            <div class="five-name">
                <img src="./../images/seaside/zhongxiaoxue/biaoti.png" alt="">
            </div>
            <div class="five-content">
                <div class="five-item">
                    <select name="小学" id="">
                        <option value="">小学</option>
                        <option value="">小学</option>
                        <option value="">小学</option>
                        <option value="">小学</option>
                    </select>
                    <select name="语文" id="">
                        <option value="">语文</option>
                        <option value="">数学</option>
                        <option value="">英语</option>
                        <option value="">物理</option>
                    </select>
                    <div class="five-back">
                        <div>
                            <p>1、夯实基础训练</p>
                            <p>2、升学考点专项训练 </p>
                            <p>3、升学古诗文梳理 </p>
                            <p>4、考前写作技巧训练 </p>
                        </div>
                    </div>
                </div>
                <div class="shangke-input">
                    <input type="text" placeholder="请输入孩子的姓名">
                    <div class="shangke-select1 shangke-div"></div>
                    <div class="shangke-select2 shangke-div"></div>
                    <div class="shangke-select3 shangke-div"></div>
                    <input type="text" placeholder="请输入您的电话">
                    <input type="text" placeholder="住址（便于就近安排校区）">
                </div>
                <div class="course-price-get">立即获取课程报价</div>
            </div>
        </div>
        <!-- 6对1 -->
        <div class="six">
            <div class="six-name">
                <img src="./../images/seaside/zhongxiaoxue/biaoti3.png" alt="">
            </div>
            <div class="six-content">
                <div class="six-content-items">
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/zhongxiaoxue/guihuasheji.png" alt="">
                            <h4>教育规划师</h4>
                        </div>
                        <p>全面科学的测评，发现学生学科知识、学习态度、学习方法、学习习惯。所存在的问题，制定一套针对性的辅导
                            教学计划</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/zhongxiaoxue/icon-.png" alt="">
                            <h4>学习管理师</h4>
                        </div>
                        <p>负责监管学生的学习状态，进行思想工作沟通，定期跟学生家长进行家访、电访</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/zhongxiaoxue/dc-icon-daxuekejiyuan.png" alt="">
                            <h4>学科教师</h4>
                        </div>
                        <p>通过学生的测评结果，匹配最适合学生的老师，充分帮助学生快速解决学科和学习方法等问题</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/zhongxiaoxue/xinlizixun.png" alt="">
                            <h4>心理咨询师</h4>
                        </div>
                        <p>戴氏心理老师及时帮助学生纠正学习心态，激发学习兴趣,树立积极的学习态度</p>
                    </div>
                    <div class="six-content-item">
                        <div>
                            <img src="./../images/seaside/zhongxiaoxue/jiaoxue.png" alt="">
                            <h4>个性化教研组</h4>
                        </div>
                        <p>专职老师每周集中讨论哪一种学生适合哪一种教学方式及分析命题趋势、政策等</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/zhongxiaoxue/yuedu.png" alt="">
                            <h4>陪读老师</h4>
                        </div>
                        <p>学生上完课后，可以全天在戴氏教育免费陪读，并由陪读老师帮助学生解决学习上的难题</p>
                    </div>
                    <div class="xiangqing">028-66060688点解了解详情</div>
                </div>
            </div>
        </div>
        <!-- 7步 -->
        <div class="seven">
            <div class="seven-name">
                <img src="./../images/seaside/zhongxiaoxue/biaoti4.png" alt="">
            </div>
            <div class="seven-content">
                <div class="xiangqing dingwei">028-66060688点解了解详情</div>
            </div>
        </div>
        <!-- 名师部分 -->
        <div class="teacher">
            <div class="teacher-name2">
                <img src="./../images/seaside/zhongxiaoxue/biaoti6.png">
            </div>
            <div class="teacher-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./../images/seaside/zc.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc1.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc2.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc3.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc4.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc5.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc6.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc7.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc8.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc9.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc11.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc10.jpg" /></div>
                    </div>
                    <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="talk">与TA交流</div>
            <div class="teacher-choose">
                <img src="./../images/seaside/zhongxiaoxue/liucheng.png" alt="">
            </div>
        </div>
        <!-- 家长好评 -->
        <div class="home">
            <div class="home-content">
                <img class="p1" src="./../images/seaside/zhongxiaoxue/zu32(3).png" alt="">
                <img class="p2" src="./../images/seaside/zhongxiaoxue/biaoti3.png" alt="">
            </div>
            <div class="xiangqing">立即报名：028-66060688</div>
        </div>
        <!-- 环境部分 -->
        <div class="environment">
            <div class="environment-name">
                <img src="./../images/seaside/environment.png">
            </div>
            <div class="environment-content">
                <img src="./../images/seaside/en-tent.png" alt="">
            </div>
            <div class="shangke-input">
                <input type="text" placeholder="请输入孩子的姓名">
                <div class="shangke-select1 shangke-div"></div>
                <div class="shangke-select2 shangke-div"></div>
                <div class="shangke-select3 shangke-div"></div>
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="住址（便于就近安排校区）">
            </div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
    </div>
    </div>
    <!-- 固定地步区域 -->
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li><img src="./../images/share/foot-span_03.jpg"> </li>
            <li><img src="./../images/share/foot-span_05.jpg"> </li>
            <li><img src="./../images/share/foot-span_07.jpg"> </li>
            <li><img src="./../images/share/foot-span_09.jpg"> </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
</body>
<script src="./../js/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script src="./../js/share.js"> </script>
<script src="../js/select.js"></script>
<script>
    new TimeCount({
    parent: document.getElementsByClassName("time1")[0],
    date: "2020-06-01"
})

new TimeCount({
    parent: document.getElementsByClassName("time2")[0],
    date: "2020-06-07"
})
new Select({
        position: $('.shangke-select1'),
        arr: ["年级", "幼儿", "一年级", "二年级", "三年级", "四年级", "五年级", "六年级", "初一", "初二", "初三", "高一", "高二", "高三"],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select2'),
        arr: ["科目", '语文', '数学', '英语', '物理', '化学', '语言表演', '情商美术'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select3'),
        arr: ["班级", '一对一', '3~6人精品', '15人大师班'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
</script>

</html>