<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/chunji.css">
    <title>春季学霸班</title>
</head>

<body>
    <!-- 顶部公共部分 -->
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <!-- 站位unmount -->
    <div class="time-out">
        <div class="time-title time1"><span>2020高考倒计时</span></div>
        <div class="time-title time2"><span>2020中考倒计时</span></div>
    </div>
    <div class="cs">
        <div class="chunji-xuanchuan"><img src="./../images/seaside/banner.jpg"> </div>

    </div>

    <div id="content">
        <!-- 类别 -->
        <div class="lb">
            <img src="../images/seaside/leibie_03.jpg">
        </div>
        <!-- 在线辅导 -->
        <div class="online">
            <div class="online-name">
                <img src="./../images/seaside/title.png">
            </div>
            <div class="online-content">
                <div class="txt1">
                    <p>足不出户：无需接送孩子在家就能上学</p>
                    <p>省时安全:不用出门,无惧疫情</p>
                    <p>随时旁听:在线旁听,监督上课质量</p>

                </div>
                <div class="txt3">
                    <p>操作简单:手机、平板、电脑就能和老师面对面交流</p>
                    <p>更加高效:节约补课路程时间，课后老师在线答疑</p>
                    <p>复习方便:随时观看回放课程，知识点掌握更牢固</p>
                </div>
                <div class="txt2">
                    <p>直播上课:视频面对面互动授课</p>
                    <p>在线答疑:全天在线免费答疑</p>
                    <p>严格过手:下课测评巩固效果</p>
                </div>
            </div>
        </div>
        <!-- 课程报价 -->
        <div class="course-price">
            <div class="shangke-input">
                <input type="text" placeholder="请输入孩子的姓名">
                <div class="shangke-select1 shangke-div"></div>
                <div class="shangke-select2 shangke-div"></div>
                <div class="shangke-select3 shangke-div"></div>
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="住址（便于就近安排校区）">
            </div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
        <!-- 课程信息 -->
        <div class="chunji-tab-bar">
            <div class="chunji-tab">
                <span class="show1">VIP一对一</span>
                <span>3-6精品班</span>
                <span>15人大班</span>
            </div>
            <div class="chunji-tab-content">
                <div class="chunji-tab-items show2">
                    <span class="chunji-tab-items-title">环环相扣 步步精心</span>
                    <div class="tab-item-content bubu">
                        <div class="tab-item-content1">
                            <div><span class="zixun">点击免费咨询&gt;</span></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="tab-item-content2">
                            <div></div>
                            <div></div>
                            <div><span class="zixun">点击免费咨询&gt;</span></div>
                        </div>
                    </div>
                </div>
                <div class="chunji-tab-items">
                    <span class="tab-items-title">授人以鱼 授人以渔</span>
                    <div class="tab-item-content shouren">
                        <div class="tab-item-content1">
                            <div>
                                <span class="shouren-name">第一步【诊】</span>
                                <p>诊断知识 调整心态</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                            <div>
                                <span class="shouren-name">第四步【讲】</span>
                                <p>讲解知识 传授方法</p>
                            </div>
                            <div>
                                <span class="shouren-name">第五步【访】</span>
                                <p>定期回访 家校共进</p>
                            </div>
                        </div>
                        <div class="tab-item-content2">
                            <div>
                                <span class="shouren-name">第五步【访】</span>
                                <p>定期回访 家校共进</p>
                            </div>
                            <div>
                                <span class="shouren-name">第四步【讲】</span>
                                <p>讲解知识 传授方法</p>
                            </div>
                            <div>
                                <span class="shouren-name">第一步【诊】</span>
                                <p>诊断知识 调整心态</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chunji-tab-items">
                    <span class="chunji-tab-items-title">环环相扣 步步精心</span>
                    <div class="tab-item-content dingxiang">
                        <div class="tab-item-content1">
                            <div class="dingxiang-name">
                                <span>心里调整</span>
                                <p>对学生的心理进行调节，树立</p>
                                <p>学习目标，激发学习斗志，培</p>
                                <p>养自主学习力</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                            <div class="dingxiang-name">
                                <span>拓展优化</span>
                                <p>培养学生思辨力、意志力和解决困难的能力，深化各知识点间的内在联系</p>
                               
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                        </div>
                        <div class="tab-item-content2">
                            <div class="dingxiang-name">
                                <span>夯实基础</span>
                                <p>帮助学生解决基础知识薄弱、零散、缺乏知识脉络、不能交叉运用等问题</p>
                            </div>
                            <div class="dingxiang-name">
                                <span>巩固训练</span>
                                <p>锻炼学生思维能力及解题能力，点拨技巧，对知识点熟练掌握运用并举一反三</p>
                            </div>
                            <div class="dingxiang-name">
                                <span>全面提高</span>
                                <p>运用技巧和方法取得优异成绩并产生多条思路，向外扩展为多角度思维空间</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 名师部分 -->
        <div class="teacher">
            <div class="teacher-name">
                <img src="./../images/seaside/teacher.png">
            </div>
            <div class="teacher-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./../images/seaside/zc.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc1.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc2.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc3.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc4.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc5.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc6.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc7.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc8.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc9.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc11.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zc10.jpg" /></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="talk">与TA交流</div>
            <div class="teacher-choose">
                <img src="./../images/seaside/tea-xuanba0.png" alt="">
            </div>
        </div>
        <!-- 环境部分 -->
        <div class="environment">
            <div class="environment-name">
                <img src="./../images/seaside/environment.png">
            </div>
            <div class="environment-content">
                <img src="./../images/seaside/en-tent.png" alt="">
            </div>
            <div class="environment-price-get">立即获取课程报价</div>
        </div>
    </div>
    <!-- 固定地步区域 -->
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li><img src="./../images/share/foot-span_03.jpg"> </li>
            <li><img src="./../images/share/foot-span_05.jpg"> </li>
            <li><img src="./../images/share/foot-span_07.jpg"> </li>
            <li><img src="./../images/share/foot-span_09.jpg"> </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script src="./../js/jquery-2.2.4.min.js"></script>
<script src="./../js/share.js"> </script>
<script src="../js/select.js"></script>
<script>
new TimeCount({
    parent: document.getElementsByClassName("time1")[0],
    date: "2020-06-01"
})

new TimeCount({
    parent: document.getElementsByClassName("time2")[0],
    date: "2020-06-07"
})
</script>

</html>