<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="./../style/index.css">
    <link rel="stylesheet" href="./../style/chunji.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <title>春季学霸班</title>
</head>

<body>
    <!-- 顶部公共部分 -->
    <header>
        <ul>
            <li style="margin-left: 10px;"><img src="./../images/share/top_03.jpg"
                    style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <!-- 站位unmount -->
    <div class="time-out">
        <div class="time-title time1"><span>2020高考倒计时</span></div>
        <div class="time-title time2"><span>2020中考倒计时</span></div>
    </div>
    <div class="cs">
        <div class="chunji-xuanchuan"><img src="./../images/seaside/banner.png"> </div>

    </div>

    <div id="content">
        <!-- 类别 -->
        <div class="lb">
            <img src="../images/seaside/leibie_03.jpg">
        </div>
        <!-- 在线辅导 -->
        <div class="online">
            <div class="online-name">
                <img src="./../images/seaside/title.png">
            </div>
            <div class="online-content">
                <span class="txt1">
                    <p>足不出户：无需接送孩子在家就能上学</p>
                    <p>省时安全:不用出门,无惧疫情</p>
                    <p>随时旁听:在线旁听,监督上课质量</p>

                </span>
                <span class="txt3">
                    <p>操作简单:手机、平板、电脑就能和老师面对面交流</p>
                    <p>更加高效:节约补课路程时间，课后老师在线答疑</p>
                    <p>复习方便:随时观看回放课程，知识点掌握更牢固</p>
                </span>
                <span class="txt2">
                    <p>直播上课:视频面对面互动授课</p>
                    <p>在线答疑:全天在线免费答疑</p>
                    <p>严格过手:下课测评巩固效果</p>
                </span>
            </div>
        </div>
        <!-- 课程报价 -->
        <div class="course-price">
            <div class="course-price-content">李易公共部分</div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
        <!-- 课程信息 -->
        <div class="tab-bar">
            <div class="tab">
                <span class="show1">VIP一对一</span>
                <span>3-6精品班</span>
                <span>15人大班</span>
            </div>
            <div class="tab-content">
                <div class="tab-items show2">
                    <span class="tab-items-title">环环相扣 步步精心</span>
                    <div class="tab-item-content">
                        <div>
                            <span><img src="./../images/seaside/tab0.jpg" alt=""></span>
                            <span><img src="./../images/seaside/tab3.jpg" alt=""></span>
                            <span><img src="./../images/seaside/tab5.jpg" alt=""></span>
                            <a href="#"><img class="zixun zixun1" src="./../images/seaside/free_03.jpg"></a>
                        </div>
                        <div>
                            <span><img src="./../images/seaside/tab1.jpg" alt=""></span>
                            <span><img src="./../images/seaside/tab2.jpg" alt=""></span>
                            <span><img src="./../images/seaside/tab4.jpg" alt=""></span>
                            <a href="#"><img class="zixun zixun2" src="./../images/seaside/free_03.jpg"> </a>
                        </div>
                    </div>
                </div>
                <div class="tab-items"></div>
                <div class="tab-items"></div>
            </div>
        </div>
        <!-- 名师部分 -->
        <div class="teacher">
            <div class="teacher-name">
                <img src="./../images/seaside/teacher.png">
            </div>
            <div class="teacher-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="talk">与TA交流</div>
            <div class="teacher-choose">
                <img src="./../images/seaside/tea-xuanba0.png" alt="">
            </div>
        </div>
        <!-- 环境部分 -->
        <div class="environment">
            <div class="environment-name">
                <img src="./../images/seaside/environment.png">
            </div>
            <div class="environment-content">
                <img src="./../images/seaside/en-tent.png" alt="">
            </div>
            <div class="environment-price-get">立即获取课程报价</div>
        </div>
    </div>
    <!-- 固定地步区域 -->
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li><img src="./../images/share/foot-span_03.jpg"> </li>
            <li><img src="./../images/share/foot-span_05.jpg"> </li>
            <li><img src="./../images/share/foot-span_07.jpg"> </li>
            <li><img src="./../images/share/foot-span_09.jpg"> </li>
        </ul>
    </footer>
</body>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script src="./../js/share.js"> </script>
<script>

</script>

</html>