<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>二级联动</title>
</head>

<body>
    <select id="grade">
        <option value="0">小学</option>
        <option value="1">初一|初二</option>
        <option value="2">初三</option>
        <option value="3">高一|高二</option>
        <option value="4">高三</option>
    </select>
    <select id="subject"></select>
</body>
<script src="../js/jquery-2.2.4.min.js"></script>
<script>
    var grade = $('#grade')
    var subject = $('#subject')
    var ops = $('option')
    for (var i=0;i<opts.length;i++) {
			opts[i].setAttribute('value',i)
		}
		var xiaoxue=['语文','数学','英语']
		var chuyier=['语文','数学','英语']
		var chusan=['语文','数学','英语','物理','化学']
        var gaoyier=['语文','数学','英语','物理','化学','生物']
        var gaosan=['语文','数学','英语','物理','化学','生物']
		
		grade.on('change',function(){
		     subject.html('');
			var val=grade.val()
			if(val==0){
				$(xiaoxue).each(function(index,item){
					subject.append(`<option>${item}</option>`)
				})
			}
			if(val==1){
				$(chuyier).each(function(index,item){
					subject.append(`<option>${item}</option>`)
				})
			}
			if(val==2){
				$(chusan).each(function(index,item){
					subject.append(`<option>${item}</option>`)
				})
			}
			if(val==3){
				$(gaoyier).each(function(index,item){
					subject.append(`<option>${item}</option>`)
				})
            }
            if(val==4){
                $(gaosan).each(function(index,item){
					subject.append(`<option>${item}</option>`)
				})
            }
			
		})
</script>
</html>