<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/gaokao.css">
    <title>高考页面</title>
</head>

<body>
    <!-- 顶部公共部分 -->
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <!-- 站位unmount -->
    <div class="time-out">
        <div class="time-title time1"><span>2020高考倒计时</span></div>
        <div class="time-title time2"><span>2020中考倒计时</span></div>
    </div>
    <div class="cs">
        <div class="gaokao-xuanchuan"><img src="./../images/seaside/gaokao/banner.png"> </div>

    </div>
    <div class="settings">
        <div class="settings-item title">2020高考倒计时</div>
        <div class="settings-item times2"></div>
        <div class="settings-item late">早报名早提升</div>
    </div>
    <div id="content">
        <!-- 类别 -->
        <div class="lb">
            <img src="../images/seaside/leibie_03.jpg">
        </div>
        <!-- 课程报价 -->
        <div class="course-price">
            <span class="course-price-name">&nbsp;10秒免费获取课程报价</span>
            <div class="shangke-input">
                <input type="text" placeholder="请输入孩子的姓名">
                <div class="shangke-select1 shangke-div"></div>
                <div class="shangke-select2 shangke-div"></div>
                <div class="shangke-select3 shangke-div"></div>
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="住址（便于就近安排校区）">
            </div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
        <!-- 学习状态部分 -->
        <div class="study">
            <div class="study-name">
                <img src="../images/seaside/gaokao/biaoti1.png" alt="">
            </div>
            <div class="study-content">
                <div>
                    <h4>基础薄弱，学习困难</h4>
                    <p></p>
                    <span>上课听不懂，课后不会学，做题不会用</span>
                </div>
                <div>
                    <h4>粗心马虎，频频丢分</h4>
                    <p></p>
                    <span>审题不清不全，计算失误不断</span>
                </div>
                <div>
                    <h4>眼高手低，纸上谈兵</h4>
                    <p></p>
                    <span>一讲就懂，一看就会，一做就错</span>
                </div>
                <div>
                    <h4>效率低下，进步维艰</h4>
                    <p></p>
                    <span>日夜刷题苦练，迟迟不见效果</span>
                </div>
                <div>
                    <h4>生搬硬套，连蒙带猜</h4>
                    <p></p>
                    <span>抓不住题干考点，理不清解题思路</span>
                </div>
            </div>
        </div>
        <!-- 带你走出困境 -->
        <div class="follow"><img src="../images/seaside/gaokao/zixunbanner.png" alt=""></div>
        <!-- 私人订制部分 -->
        <div class="person">
            <div class="person-name">
                <img src="../images/seaside/gaokao/biaotikaobei.png" alt="">
            </div>
            <div class="person-content">
                <div>
                    <div class="person-content-item">
                        <div>
                            <img src="../images/seaside/gaokao/RectangleCopy.png" alt="">
                            <h4>确定目标差值</h4>
                            <p>参考去年各批次分数线</p>
                            <p style="color:black;">自身情况确定目标</p>
                            <p>院校、专业，找到分数差</p>
                        </div>
                    </div>
                    <div class="person-content-item">
                        <div>
                            <img src="../images/seaside/gaokao/ziyuan.png" alt="">
                            <h4>分数差值拆解</h4>
                            <p style="color:black;">结合各学科特点</p>
                            <p style="color:black;">以及自身实际情况</p>
                            <p>确定各学科“增长任务”</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="person-content-item">
                        <div>
                            <img src="../images/seaside/gaokao/jihuarenwu.png" alt="">
                            <h4>制定学习计划</h4>
                            <p>根据学习中涉及到的知识</p>
                            <p>能力和方法并结合教师的</p>
                            <p style="color:black;">建议制定每日计划</p>
                        </div>
                    </div>
                    <div class="person-content-item">
                        <div>
                            <img src="../images/seaside/gaokao/jihua.png" alt="">
                            <h4>落实学习计划</h4>
                            <p style="color:black;">6对1全程监测管理</p>
                            <p>严格执行每日学习计划</p>
                            <p>把坏习惯、弱学科逐一击破</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 课程报价 -->
        <div class="course-price">
            <div class="shangke-input">
                <input type="text" placeholder="请输入孩子的姓名">
                <div class="shangke-select1 shangke-div"></div>
                <div class="shangke-select2 shangke-div"></div>
                <div class="shangke-select3 shangke-div"></div>
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="住址（便于就近安排校区）">
            </div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
        </div>
        
        <!-- 课程核心特色 -->
        <div class="heart">
            <div class="heart-name">
                <img src="./../images/seaside/gaokao/dabiaoti.png" alt="">
            </div>
            <div class="heart-content">
                <div class="heart-content-item">
                    <div class="h-name"><img src="./../images/seaside/gaokao/xiaobiaoti.png" alt=""></div>
                    <div class="h-content item1">
                        <p>任课老师交流讨论，总结教学方法。</p>
                        <p>学科内部每周教研，紧随命题趋势。</p>
                        <p>课后严格过手训练，巩固教学成果
                        </p>
                    </div>
                </div>
                <div class="heart-content-item">
                    <div class="h-name"><img src="./../images/seaside/gaokao/xiaobiaoti(1).png" alt=""></div>
                    <div class="h-content item2">
                        <p>精准定位学生情况，分层教学循序</p>
                        <p>渐进严格过手靶向突破
                        </p>
                    </div>
                </div>
                <div class="heart-content-item2">
                    <div class="h-name"><img src="./../images/seaside/gaokao/xiaobiaoti2.png" alt=""></div>
                    <div class="h-content item3">
                        <div class="item3-content item1"></div>
                    </div>
                    <div class="h-content item3">
                        <span class="item3-name">&nbsp;时间管理</span>
                        <div class="item3-content item2">
                            <div class="time_1">
                                <p>07:50-08:20</p>
                                <p>08:30-12:00</p>
                                <p>13:00-13:50</p>
                                <p>14:00-17:30</p>
                                <p>18:30-19:00</p>
                                <p>19:10-20:30</p>
                            </div>
                            <div class="time_2">
                                <p>每日晨读</p>
                                <p>上午课程</p>
                                <p>午间答疑</p>
                                <p>下午课程</p>
                                <p>晚间答疑</p>
                                <p>过手训练</p>
                            </div>
                        </div>
                    </div>
                    <div class="h-content item3">
                        <span class="item3-name">&nbsp;心态管理</span>
                        <div class="item3-content item3">
                            <div class="xintai">
                                <p>主题班会:每周开展主题班会，师生高频互动交流</p>
                            </div>
                            <div class="xintai normal">
                                <p>贴心交流:心理咨询师一对一谈话调整学习状态</p>
                            </div>
                            <div class="xintai">
                                <p>素质拓展:室内外素质拓展，德智体美全面培养</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="click-get">点击了解详情</div>
        <!-- 名师部分 -->
        <div class="teacher">
            <div class="teacher-name2">
                <img src="./../images/seaside/gaokao/zu 32(11).png">
            </div>
            <div class="teacher-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./../images/seaside/gaokao/g1.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/gaokao/g2.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/gaokao/g3.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/gaokao/g4.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/gaokao/g5.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/gaokao/g6.jpg" /></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="talk">与TA交流</div>
            <div class="teacher-choose">
                <img src="./../images/seaside/gaokao/xuanbaliucheng.png" alt="">
            </div>
        </div>
        <!-- 环境部分 -->
        <div class="environment gaokao">
            <div class="environment-name">
                <img src="./../images/seaside/gaokao/biaoti2.png">
            </div>
            <div class="environment-content">
                <img src="./../images/seaside/en-tent.png" alt="">
            </div>
        </div>
    </div>
    </div>
    <!-- 固定地步区域 -->
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_03.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_05.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_07.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_09.jpg">
                </a>
            </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
</body>
<script src="./../js/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script language="javascript" src="http://ddt.zoosnet.net/JS/LsJS.aspx?siteid=DDT72038452&float=1&lng=cn"></script>
<script src="./../js/share.js"> </script>
<script src="../js/select.js"></script>
<script>
    new TimeCount({
        parent: document.getElementsByClassName("times2")[0],
        date: "2020-06-07"
    })
    new TimeCount({
        parent: document.getElementsByClassName("time1")[0],
        date: "2020-06-01"
    })

    new TimeCount({
        parent: document.getElementsByClassName("time2")[0],
        date: "2020-06-07"
    })
    new Select({
        position: $('.shangke-select1'),
        arr: ["年级", "幼儿", "一年级", "二年级", "三年级", "四年级", "五年级", "六年级", "初一", "初二", "初三", "高一", "高二", "高三"],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select2'),
        arr: ["科目", '语文', '数学', '英语', '物理', '化学', '语言表演', '情商美术'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select3'),
        arr: ["班级", '一对一', '3~6人精品', '15人大师班'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
</script>

</html>