<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="./../style/index.css">
    <link rel="stylesheet" href="./../style/chunji.css">
    <link rel="stylesheet" href="./../style/gaokao.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <title>高考页面</title>
</head>

<body>
    <!-- 顶部公共部分 -->
    <header>
        <ul>
            <li><img src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_07.jpg" style="width:140px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <!-- 站位unmount -->
    <div class="time-out">
        <div class="time-title time1"><span>2020高考倒计时</span></div>
        <div class="time-title time2"><span>2020中考倒计时</span></div>
    </div>
    <div class="cs">
        <div class="gaokao-xuanchuan"><img src="./../images/seaside/gaokao/banner.png"> </div>

    </div>
    <div class="settings">
       <div class="settings-item title">2020高考倒计时</div>
       <div class="settings-item times2"></div>
       <div class="settings-item late">早报名早提升</div>
    </div>
    <div id="content">
        <!-- 类别 -->
        <div class="lb">
            <img src="../images/seaside/leibie_03.jpg">
        </div>
        <!-- 课程报价 -->
        <div class="course-price">
            <span class="course-price-name">&nbsp;10秒免费获取课程报价</span>
            <div class="course-price-content" style="">李易公共部分</div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
        <!-- 名师部分 -->
        <div class="teacher">
            <div class="teacher-name">
                <img src="./../images/seaside/teacher.png">
            </div>
            <div class="teacher-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="talk">与TA交流</div>
            <div class="teacher-choose">
                <img src="./../images/seaside/tea-xuanba0.png" alt="">
            </div>
        </div>
        <!-- 环境部分 -->
        <div class="environment">
            <div class="environment-name">
                <img src="./../images/seaside/environment.png">
            </div>
            <div class="environment-content">
                <img src="./../images/seaside/en-tent.png" alt="">
            </div>
            <div class="environment-price-get">立即获取课程报价</div>
        </div>
    </div>
    </div>
    <!-- 固定地步区域 -->
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li><img src="./../images/share/foot-span_03.jpg"> </li>
            <li><img src="./../images/share/foot-span_05.jpg"> </li>
            <li><img src="./../images/share/foot-span_07.jpg"> </li>
            <li><img src="./../images/share/foot-span_09.jpg"> </li>
        </ul>
    </footer>
</body>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script src="./../js/share.js"> </script>
<script>
    new TimeCount({
    parent: document.getElementsByClassName("times2")[0],
    date: "2020-06-07"
})
</script>

</html>