<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
    <link rel="stylesheet" href="../style/gl.css">
    <link rel="stylesheet" href="../style/base.css">
</head>

<body>
    <div class="experience">
        <img src="../images/images_gl/gl (1).jpg" alt="">
    </div>
    <div class="supervise">
        <img src="../images/images_gl/gl (2).jpg" alt="">
        <div class="xq">
            <p>028-66060688点击了解详情</p>
        </div>
    </div>
    <div class="coach">
        <img src="../images/images_gl/gl (3).jpg" alt="">
    </div>
    <div class="xq">
        <p>028-66060688点击了解详情</p>
    </div>
    <div class="coach">
        <img src="../images/images_gl/gl (4).jpg" alt="">
    </div>
    <div class="public">
        <div class="ly">
        </div>
        <div class="git">
            <p>立即获取课程报价</p>
        </div>
    </div>
</body>

</html>