<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/index.css">
    <title>首页</title>
</head>

<body>
    <!-- 顶部公共部分 -->
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <div class="time-out">
        <div class="time-title time1"><span>2020高考倒计时</span></div>
        <div class="time-title time2"><span>2020中考倒计时</span></div>
    </div>
    <!-- 站位unmount -->
    <div class="cs">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="./../images/share/banner01.jpg" /></div>
                <div class="swiper-slide"><img src="./../images/share/banner02.jpg" /></div>
                <div class="swiper-slide"><img src="./../images/share/banner03.jpg" /></div>
                <div class="swiper-slide"><img src="./../images/share/banner04.jpg" /></div>
                <div class="swiper-slide"><img src="./../images/share/banner05.jpg" /></div>
                <div class="swiper-slide"><img src="./../images/share/banner06.jpg" /></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>


        <div class="settings">
            <ul>
                <li><img src="./../images/share/icon1.png" alt=""></li>
                <li><img src="./../images/share/icon2.png" alt=""></li>
                <li><img src="./../images/share/icon3.png" alt=""></li>
                <li><img src="./../images/share/icon4.png" alt=""></li>
                <li><img src="./../images/share/icon5.png" alt=""></li>
                <li><img src="./../images/share/icon6.png" alt=""></li>
            </ul>
            <div class="settings-name">
                <span>幼升小</span>
                <span>小升初</span>
                <span>春季班</span>
                <span>中小学1对1</span>
                <span>中考集训</span>
                <span>高考集训</span>
            </div>
        </div>
    </div>
    <div class="daojishi">
        <div class="daojishi-content">
            <div class="daojishi-item">
                <span class="name">2020中考倒计时</span>
                <div class="zhongkao"></div>
            </div>
            <div class="daojishi-item">
                <span class="name">2020高考倒计时</span>
                <div class="gaokao"></div>
            </div>
        </div>
        <div class="lianxiwo">028-66060688 早报名早提升</div>
    </div>
    <div id="content">
        <!-- 课程信息 -->
        <div class="tab-bar">
            <div class="tab">
                <span class="show1">VIP一对一</span>
                <span>3-6精品班</span>
                <span>15人大班</span>
            </div>
            <div class="tab-content">
                <div class="tab-items show2">
                    <span class="tab-items-title">环环相扣 步步精心</span>
                    <div class="tab-item-content bubu">
                        <div class="tab-item-content1">
                            <div><span class="zixun">点击免费咨询&gt;</span></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="tab-item-content2">
                            <div></div>
                            <div></div>
                            <div><span class="zixun">点击免费咨询&gt;</span></div>
                        </div>
                    </div>
                </div>
                <div class="tab-items">
                    <span class="tab-items-title">授人以鱼 授人以渔</span>
                    <div class="tab-item-content shouren">
                        <div class="tab-item-content1">
                            <div>
                                <span class="shouren-name">第一步【诊】</span>
                                <p>诊断知识 调整心态</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                            <div>
                                <span class="shouren-name">第四步【讲】</span>
                                <p>讲解知识 传授方法</p>
                            </div>
                            <div>
                                <span class="shouren-name">第五步【访】</span>
                                <p>定期回访 家校共进</p>
                            </div>
                        </div>
                        <div class="tab-item-content2">
                            <div>
                                <span class="shouren-name">第五步【访】</span>
                                <p>定期回访 家校共进</p>
                            </div>
                            <div>
                                <span class="shouren-name">第四步【讲】</span>
                                <p>讲解知识 传授方法</p>
                            </div>
                            <div>
                                <span class="shouren-name">第一步【诊】</span>
                                <p>诊断知识 调整心态</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-items">
                    <span class="tab-items-title">循序渐进 定向攻克</span>
                    <div class="tab-item-content dingxiang">
                        <div class="tab-item-content1">
                            <div class="dingxiang-name">
                                <span>心里调整</span>
                                <p>对学生的心理进行调节，树立</p>
                                <p>学习目标，激发学习斗志，培</p>
                                <p>养自主学习力</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                            <div class="dingxiang-name">
                                <span>拓展优化</span>
                                <p>培养学生思辨力、意志力和解决困难的能力，深化各知识点间的内在联系</p>

                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                        </div>
                        <div class="tab-item-content2">
                            <div class="dingxiang-name">
                                <span>夯实基础</span>
                                <p>帮助学生解决基础知识薄弱、零散、缺乏知识脉络、不能交叉运用等问题</p>
                            </div>
                            <div class="dingxiang-name">
                                <span>巩固训练</span>
                                <p>锻炼学生思维能力及解题能力，点拨技巧，对知识点熟练掌握运用并举一反三</p>
                            </div>
                            <div class="dingxiang-name">
                                <span>全面提高</span>
                                <p>运用技巧和方法取得优异成绩并产生多条思路，向外扩展为多角度思维空间</p>
                                <span class="zixun">点击免费咨询&gt;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 课程报价 -->
        <div class="course-price">
            <span class="course-price-name">&nbsp;10秒免费获取课程报价</span>
            <div class="shangke-input">
                <input type="text" placeholder="请输入孩子的姓名">
                <div class="shangke-select1 shangke-div"></div>
                <div class="shangke-select2 shangke-div"></div>
                <div class="shangke-select3 shangke-div"></div>
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="住址（便于就近安排校区）">
            </div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
        <!-- 了解我们 -->
        <div class="about">
            <span class="about-name">&nbsp;你还想了解我们</span>
            <div class="about-content">
                <div class="about-content-item" style="border-right:1px solid rgba(128, 128, 128, 0.8);">
                    <div><span>效果怎么样？</span><button>点击了解</button></div>
                    <div><span>管理怎么样？</span><button>点击了解</button></div>
                    <div><span>怎么上课？</span><button>点击了解</button></div>
                    <div style="border-bottom:0px;"><span>校园查询</span><button>点击了解</button></div>
                </div>
                <div class="about-content-item">
                    <div><span>师资怎么样？</span><button>点击了解</button></div>
                    <div><span>怎么收费？</span><button>点击了解</button></div>
                    <div><span>环境怎么样？</span><button>点击了解</button></div>
                    <div style="border-bottom:0px;"><span>其他问题</span><button>点击了解</button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 热点资讯 -->
    <div class="hot">
        <span class="hot-name"> &nbsp;热点资讯</span>
        <div class="hot-content">
            <div class="hot-tab-title">
                <div class="hot-tab-title-item show">每日导读</div>
                <div class="hot-tab-title-item">戴氏资讯</div>
                <div class="hot-tab-title-item">中考资讯</div>
                <div class="hot-tab-title-item">高考资讯</div>
            </div>
            <div class="hot-tab-content">
                <div class="hot-tab-content-item current">
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div><span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                </div>
                <div class="hot-tab-content-item">
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;戴氏资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;戴氏资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;戴氏资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;戴氏资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div><span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                </div>
                <div class="hot-tab-content-item">
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;中考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;中考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;中考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;中考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div><span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                </div>
                <div class="hot-tab-content-item">
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;高考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;高考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;高考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div style="border-bottom: 1px dashed rgba(128, 128, 128, 0.568);">
                        <span>&nbsp;&nbsp;高考资讯：小学生家长</span><span class="hot-icon">&gt;</span></div>
                    <div><span>&nbsp;&nbsp;家长必读：小学生家长</span><span class="hot-icon">&gt;</span></div>
                </div>
            </div>

        </div>
    </div>
    <!-- 固定地步区域 -->
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_03.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_05.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_07.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_09.jpg">
                </a>
            </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
</body>
<script src="./../js/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script language="javascript" src="http://ddt.zoosnet.net/JS/LsJS.aspx?siteid=DDT72038452&float=1&lng=cn"></script>
<script src="./../js/share.js"> </script>
<script src="../js/select.js"></script>
<script>
    new TimeCount({
        parent: document.getElementsByClassName("time1")[0],
        date: "2020-06-01"
    })

    new TimeCount({
        parent: document.getElementsByClassName("time2")[0],
        date: "2020-06-07"
    })
    new TimeCount({
        parent: document.getElementsByClassName("zhongkao")[0],
        date: "2020-06-01"
    })

    new TimeCount({
        parent: document.getElementsByClassName("gaokao")[0],
        date: "2020-06-07"
    })
    new Select({
        position: $('.shangke-select1'),
        arr: ["年级", "幼儿", "一年级", "二年级", "三年级", "四年级", "五年级", "六年级", "初一", "初二", "初三", "高一", "高二", "高三"],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select2'),
        arr: ["科目", '语文', '数学', '英语', '物理', '化学', '语言表演', '情商美术'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select3'),
        arr: ["班级", '一对一', '3~6人精品', '15人大师班'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
</script>

</html>