<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>留言</title>
    <link rel="stylesheet" href="../style/select.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        
    </style>
</head>
<body>
    <!-- liuyan -->
    <div class="liuyan">
        <div class="liuyan-box">
            <p>请填写以下信息，我们将尽快与您联系！</p>
            <input class="ly-inp1" type="text" placeholder="您孩子的姓名">
            <div class="liuyan-select1"></div>
            <input class="ly-inp2" type="text" placeholder="您的联系电话">
            <textarea id="TextArea1" cols="100" rows="5" placeholder="回复"/></textarea>
            <button>立即提交</button>
        </div>
        <div class="liuyan-btn"></div>
    </div>
    <script src="../js/jquery-2.2.4.min.js"></script>
    <script src="../js/select.js"></script>
    <script>
        new Select({
            position:$('.liuyan-select1'),
            arr:["年级","幼儿","一年级","二年级","三年级","四年级","五年级","六年级","初一","初二","初三","高一","高二","高三"],
            width:'45%',
            height:'35px',
            drop:'90px'
        })
        $('.liuyan-btn').on('click',function(){
            console.log(1)
            $('.liuyan').css({'display':'none'})
        })
    </script>
</body>
</html>