<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacher</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/teacher.css">
</head>
<body>
    <div class="experience">
        <img src="../images/images_gl/gl (1).jpg" alt="">
    </div>
    <div class="team">
        <img src="../images/images_sz/sz (1).jpg" alt="">
    </div>
    <div class="know_t">
        <img src="../images/images_sz/sz (3).jpg" alt="">
        <div class="km">
          <p>点击 了解教师团队</p>
        </div>
    </div>
    <div class="lunbo">

    </div>
    <div class="choies">
        <img src="../images/images_sz/sz (2).jpg" alt="">
    </div>
    <div class="public">
        <div class="ly">
        </div>
        <div class="git">
            <p>立即获取课程报价</p>
        </div>
    </div>
</body>
</html>