<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>小升初 </title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/xsc.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/index.css">
    <!-- <link rel="stylesheet" href="./../style/chunji.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

<body>
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <div class="banner">
        <img src="../images/images_xsc/xsc (1).jpg" alt="">
    </div>
    <!-- chose reasons -->
    <div class="reason">
        <div class="tl">
            <img src="../images/images_xsc/xsc (12).png" alt="">
        </div>
        <!-- <p>俗话说:"初一重新排队,初二两极分化,初三天上地下"</p> -->
        <div class="zhuang">
            <img src="../images/images_xsc/166_02.png" alt="">
            <div class="jion">
                <p class="kefu">立即报名</p>
            </div>
        </div>
    </div>
    <div class="start">
        <div class="sf">
            <img src="../images/images_xsc/xsc (18).png" alt="">
        </div>
        <!-- <p>优先一步 步步领先 领跑整个学期</p> -->
        <div class="method">
            <img src="../images/images_xsc/xsc (5).png" alt="">
        </div>
    </div>
    <div class="course-price">
        <div class="shangke-input">
            <input type="text" placeholder="请输入孩子的姓名">
            <div class="shangke-select1 shangke-div"></div>
            <div class="shangke-select2 shangke-div"></div>
            <div class="shangke-select3 shangke-div"></div>
            <input type="text" placeholder="请输入您的电话">
            <input type="text" placeholder="住址（便于就近安排校区）">
        </div>
        <div class="xiangqing kefu">立即获取课程报价</div>
    </div>
    <div class="cammp">
        <div class="dl">
            <img src="../images/images_xsc/xsc_1.png" alt="">
        </div>

        <img src="../images/images_xsc/999_04.png" alt="">
    </div>
    <div class="broke">
        <img src="../images/images_xsc/xsc (10).png" alt="">
        <div class="cammps">
            <img src="../images/images_xsc/xsc (8).png" alt="">
        </div>
        <div class="bro_p kefu">
            立即报名
        </div>
    </div>
    <!-- <p>优势对比，让学生更优秀</p> -->
    <div class="different">
        <img src="../images/images_xsc/xsc (1).png" alt="">
    </div>
    <div class="dm">
        <img src="../images/images_xsc/xsc (11).jpg" alt="">
    </div>
    <div class="more">
        <img src="../images/images_xsc/xsc_2.png" alt="">
        <div class="on">
            <p class="kefu">立即报名</p>
        </div>
    </div>
    <div class="plan">
        <img src="../images/images_xsc/xsc (9).png" alt="">
    </div>
    <div class="lubo_s">

    </div>
    <div class="charge">
        <!-- <img src="../images/images_xsc/xsc (9).png" alt=""> -->
    </div>
    <!-- <p>报名条件：3科起报名，不接受单科报名，每位学生限报一次</p> -->
    <div class="price">
        <!-- <img src="../images/images_xsc/xsc (13).jpg" alt=""> -->
    </div>
    <div class="teach">
        <div class="teacher-content">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./../images/images_xsc//xc1.jpg" /></div>
                    <div class="swiper-slide"><img src="./../images/images_xsc//xc2.jpg" /></div>
                    <div class="swiper-slide"><img src="./../images/images_xsc//xc3.jpg" /></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="talk kefu" style="top: -10px;">与TA交流</div>
        <div class="teacher">
            <img src="../images/images_xsc/xsc (6).png" alt="">
        </div>
    </div>
    <div class="environment">
        <img src="../images/images_xsc/xsc (7).png" alt="">
    </div>
    <div class="en">
        <img src="" alt="">
    </div>
    <div class="course-price">
        <span class="course-price-name">&nbsp;10秒免费获取课程报价</span>
        <div class="shangke-input">
            <input type="text" placeholder="请输入孩子的姓名">
            <div class="shangke-select1 shangke-div"></div>
            <div class="shangke-select2 shangke-div"></div>
            <div class="shangke-select3 shangke-div"></div>
            <input type="text" placeholder="请输入您的电话">
            <input type="text" placeholder="住址（便于就近安排校区）">
        </div>
        <div class="xiangqing ly-bnt" style="width: 100%;">立即获取课程报价</div>
    </div>
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_03.jpg">
                </a>
            </li>
            <li>
                <a href="#"
                    target="_blank">
                    <img class="kefu" src="./../images/share/foot-span_05.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_07.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_09.jpg">
                </a>
            </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
    <!-- liuyan -->
    <div class="liuyan">
        <div class="liuyan-box">
            <p>请填写以下信息，我们将尽快与您联系！</p>
            <input class="ly-inp1" type="text" placeholder="您孩子的姓名">
            <div class="liuyan-select1"></div>
            <input class="ly-inp2" type="text" placeholder="您的联系电话">
            <textarea id="TextArea1" cols="100" rows="5" placeholder="回复"/></textarea>
            <button>立即提交</button>
        </div>
        <div class="liuyan-btn"></div>
    </div>
    <script src="./../js/jquery-2.2.4.min.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
    <script language="javascript" src="http://ddt.zoosnet.net/JS/LsJS.aspx?siteid=DDT72038452&float=1&lng=cn"></script>
    <script src="../js/select.js"></script>
    <script src="./../js/share.js"> </script>
</body>
<script>
    new Select({
        position: $('.shangke-select1'),
        arr: ["年级", "幼儿", "一年级", "二年级", "三年级", "四年级", "五年级", "六年级", "初一", "初二", "初三", "高一", "高二", "高三"],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select2'),
        arr: ["科目", '语文', '数学', '英语', '物理', '化学', '语言表演', '情商美术'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select3'),
        arr: ["班级", '一对一', '3~6人精品', '15人大师班'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
</script>

</html>