<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="./../style/select.css">
    <link rel="stylesheet" href="./../style/xg.css">
    <title>效果怎么样</title>
</head>

<body>
    <!-- 顶部公共部分 -->
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <!-- 站位unmount -->
    <div class="time-out">
        <div class="time-title time1"><span>2020高考倒计时</span></div>
        <div class="time-title time2"><span>2020中考倒计时</span></div>
    </div>
    <div class="cs">
        <div class="ML-xuanchuan"><img src="./../images/seaside/guanli/banner.png"> </div>
    </div>
    <div id="content">
        <!-- 类别 -->
        <div class="lb">
            <img src="../images/seaside/xiaoguo/lb.png">
        </div>
        <!-- 名师部分 -->
        <div class="teacher">
            <div class="teacher-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./../images/seaside/zhongkao/t1.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zhongkao/t2.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zhongkao/t3.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zhongkao/t4.jpg" /></div>
                        <div class="swiper-slide"><img src="./../images/seaside/zhongkao/t5.jpg" /></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="talk kefu" style="top: -10px;">与TA交流</div>
            <div class="teacher-choose">
                <img src="./../images/seaside/xiaoguo/xuanba.png" alt="">
            </div>
        </div>
         <!-- 五阶教学 -->
         <div class="five">
            <span class="course-price-name" style="margin-left: 15px;">&nbsp;5阶教学标准</span>
            <div class="five-content">
                <div class="five-item">
                    <select name="小学" id="school">
                        <option value="小学">小学</option>
                        <option value="初一丨初二">初一丨初二</option>
                        <option value="初三">初三</option>
                        <option value="高一丨高二">高一丨高二</option>
                        <option value="高三">高三</option>
                    </select>
                    <select name="语文" id="course">
                        <option value="语文">语文</option>
                        <option value="数学">数学</option>
                        <option value="英语">英语</option>
                    </select>
                    <div class="five-back">
                        <div class="fives"></div>
                        <div class="five-backls">
                            <div class="tass tabha"><div>基础</div><p>LV1</p></div>
                            <div class="tass"><div>进阶</div><p>LV2</p></div>
                            <div class="tass"><div>优化</div><p>LV3</p></div>
                            <div class="tass"><div>拔高</div><p>LV4</p></div>
                            <div class="tass"><div>超越</div><p>LV5</p></div>
                        </div>
                        <div>
                            <p>1、夯实基础训练</p>
                            <p>2、升学考点专项训练 </p>
                            <p>3、升学古诗文梳理 </p>
                            <p>4、考前写作技巧训练 </p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- 6对1 -->
        <div class="six">
            <span class="course-price-name">&nbsp;6对1监测管理</span>
            <div class="six-content">
                <div class="six-content-items">
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/xiaoguo/guihuasheji.png" alt="">
                            <h4>教育规划师</h4>
                        </div>
                        <p>全面科学的测评，发现学生学科知识、学习态度、学习方法、学习习惯。所存在的问题，制定一套针对性的辅导
                            教学计划</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/xiaoguo/icon-.png" alt="">
                            <h4>学习管理师</h4>
                        </div>
                        <p>负责监管学生的学习状态，进行思想工作沟通，定期跟学生家长进行家访、电访</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/xiaoguo/dc-icon-daxuekejiyuan.png" alt="">
                            <h4>学科教师</h4>
                        </div>
                        <p>通过学生的测评结果，匹配最适合学生的老师，充分帮助学生快速解决学科和学习方法等问题</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/xiaoguo/xinlizixun.png" alt="">
                            <h4>心理咨询师</h4>
                        </div>
                        <p>戴氏心理老师及时帮助学生纠正学习心态，激发学习兴趣,树立积极的学习态度</p>
                    </div>
                    <div class="six-content-item">
                        <div>
                            <img src="./../images/seaside/xiaoguo/jiaoxue.png" alt="">
                            <h4>个性化教研组</h4>
                        </div>
                        <p>专职老师每周集中讨论哪一种学生适合哪一种教学方式及分析命题趋势、政策等</p>
                    </div>
                    <div class="six-content-item">
                        <div><img src="./../images/seaside/xiaoguo/yuedu.png" alt="">
                            <h4>陪读老师</h4>
                        </div>
                        <p>学生上完课后，可以全天在戴氏教育免费陪读，并由陪读老师帮助学生解决学习上的难题</p>
                    </div>
                   
                </div>
                <div class="xiangqing kefu">028-66060688点解了解详情</div>
            </div>
        </div>

        <!-- 好口碑 -->
        
        <span class="course-price-name" style="margin-left: 15px;">&nbsp;好口碑邀您见证</span>
        <div class="haokoubei">
            <div class="haokoubei-content">
                <img src="./../images/seaside/xiaoguo/haokoubei.png" alt="">
            </div>
            
            <div style="text-align: center;">
                <img src="./../images/seaside/zhongkao/choose_21.jpg" alt="" style="width: 283px;height: 46px;">
            </div>
            <div class="xiangqing kefu">立即报名：028-66060688</div>
        </div>
        
        <span class="course-price-name" style="margin-left: 15px;">&nbsp;进步效果看得见</span>
        <!-- 进步效果看得见 -->
        <div class="jinbu">
            <div class="jinbu-content">
                <img src="./../images/seaside/xiaoguo/xibao.png" alt="">
            </div>
        </div>
        <!-- 环境部分 -->
        <div class="environment">
            <div class="environment-content">
                <img src="./../images/seaside/zhongkao/huangjing.png" alt="">
            </div>

        </div>
    </div>
    <!-- 固定地步区域 -->
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_03.jpg">
                </a>
            </li>
            <li>
                <a href="#"
                    target="_blank">
                    <img class="kefu" src="./../images/share/foot-span_05.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_07.jpg">
                </a>
            </li>
            <li>
                <a href="http://p.qiao.baidu.com/im/index?siteid=11794873&amp;ucid=19975585&amp;cp=&amp;cr=&amp;cw="
                    target="_blank">
                    <img src="./../images/share/foot-span_09.jpg">
                </a>
            </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
</body>
<script src="./../js/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script language="javascript" src="http://ddt.zoosnet.net/JS/LsJS.aspx?siteid=DDT72038452&float=1&lng=cn"></script>
<script src="./../js/share.js"> </script>
<script src="./../js/select.js"></script>
<script>
    new TimeCount({
        parent: document.getElementsByClassName("time2")[0],
        date: "2020-06-07"
    })
    new TimeCount({
        parent: document.getElementsByClassName("time1")[0],
        date: "2020-06-01"
    })
    new Select({
        position: $('.shangke-select1'),
        arr: ["年级", "幼儿", "一年级", "二年级", "三年级", "四年级", "五年级", "六年级", "初一", "初二", "初三", "高一", "高二", "高三"],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select2'),
        arr: ["科目", '语文', '数学', '英语', '物理', '化学', '语言表演', '情商美术'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })
    new Select({
        position: $('.shangke-select3'),
        arr: ["班级", '一对一', '3~6人精品', '15人大师班'],
        width: '48%',
        height: '35px',
        drop: '180px'
    })

    $('#school').change(function(e){
        var key=e.target.value
        switch (key) {
            case "小学":
                $('.tass').removeClass('tabha')
                $('.five-backls>div:nth-of-type(1)').addClass('tabha')
            $('#course').html(`<option value="语文">语文</option>
                        <option value="数学">数学</option>
                        <option value="英语">英语</option>`)
                break;
            
                case "初一丨初二":
                $('.tass').removeClass('tabha')
                $('.five-backls>div:nth-of-type(2)').addClass('tabha')
            $('#course').html(`<option value="语文">语文</option>
                        <option value="数学">数学</option>
                        <option value="英语">英语</option>`)
                break;
            case "初三":
                $('.tass').removeClass('tabha')
                $('.five-backls>div:nth-of-type(3)').addClass('tabha')
            $('#course').html(`<option value="语文">语文</option>
                        <option value="数学">数学</option>
                        <option value="英语">英语</option>
                        <option value="物理">物理</option>
                        <option value="化学">化学</option>`)
                break;
            case "高一丨高二":
                $('.tass').removeClass('tabha')
                $('.five-backls>div:nth-of-type(4)').addClass('tabha')
            $('#course').html(`<option value="语文">语文</option>
                        <option value="数学">数学</option>
                        <option value="英语">英语</option>
                        <option value="物理">物理</option>
                        <option value="化学">化学</option>
                        <option value="生物">生物</option>`)
                break;
            case "高三":
                $('.tass').removeClass('tabha')
                $('.five-backls>div:nth-of-type(5)').addClass('tabha')
            $('#course').html(`<option value="语文">语文</option>
                        <option value="数学">数学</option>
                        <option value="英语">英语</option>
                        <option value="物理">物理</option>
                        <option value="化学">化学</option>
                        <option value="生物">生物</option>`)
                break;
            default:

                break;
        }
    })
    
</script>

</html>