<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>小升初 </title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/xsc.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/index.css">
    <link rel="stylesheet" href="./../style/chunji.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

<body>
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <div class="banner">
        <img src="../images/images_xsc/xsc (1).jpg" alt="">
    </div>
    <!-- chose reasons -->
    <div class="reason">
        <div class="tl">
            <img src="../images/images_xsc/xsc (2).jpg" alt="">
        </div>
        <p>俗话说：“初一重新排队，初二两极分化，初三天上地下”</p>
        <div style="box-shadow:1vw 1vw 2vw lightslategrey;">
            <img src="../images/images_xsc/xsc (3).jpg" alt="">
        </div>
        <div class="jion">
            <p>立即报名</p>
        </div>
    </div>
    <div class="start">
        <div>
            <img src="../images/images_xsc/xsc (4).jpg" alt="">
        </div>
        <p>优先一步 步步领先 领跑整个学期</p>
        <div class="method">
            <img src="../images/images_xsc/xsc (5).jpg" alt="">
        </div>
    </div>
    <div class="public">
        <div class="course-price">
            <div class="shangke-input">
                <input type="text" placeholder="请输入孩子的姓名">
                <div class="shangke-select1 shangke-div"></div>
                <div class="shangke-select2 shangke-div"></div>
                <div class="shangke-select3 shangke-div"></div>
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="住址（便于就近安排校区）">
            </div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
    </div>
    <div class="cammp">
        <div>
            <img src="../images/images_xsc/xsc (6).jpg" alt="">
        </div>
        <p>进步的不止成绩还有成长</p>
        <div style="box-shadow:1vw 1vw 2vw lightslategrey;">
            <img src="../images/images_xsc/xsc (7).jpg" alt="">
        </div>
    </div>
    <div class="broke">
        <div>
            <img src="../images/images_xsc/xsc (8).jpg" alt="">
        </div>
        <p>优势对比，让学生更优秀</p>
        <div class="different">
            <img src="../images/images_xsc/xsc (9).jpg" alt="">
        </div>
        <div class="in">
            <p>立即报名</p>
        </div>
    </div>
    <div class="more">
        <div>
            <img src="../images/images_xsc/xsc (10).jpg" alt="">
        </div>
        <p>注：6月15日结束活动报名</p>
        <div class="plan">
            <img src="../images/images_xsc/xsc (11).jpg" alt="">
        </div>
        <div class="in">
            <p>立即报名</p>
        </div>
    </div>
    <div class="charge">
        <div>
            <img src="../images/images_xsc/xsc (12).jpg" alt="">
        </div>
        <p>报名条件：3科起报名，不接受单科报名，每位学生限报一次</p>
        <div class="price">
            <img src="../images/images_xsc/xsc (13).jpg" alt="">
        </div>
        <div class="in">
            <p>立即报名参加</p>
        </div>
    </div>
    <div class="teach">
        <div class="teacher-content">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                    <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                    <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                    <div class="swiper-slide"><img src="./../images/seaside/swiper1.png" /></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="talk" style="top: 260px;">与TA交流</div>
        <div class="teacher">
            <img src="../images/images_xsc/xsc_11.jpg.lnk" alt="">
        </div>
    </div>
    <div class="environment">
        <div>
            <img src="../images/images_xsc/xsc (16).jpg" alt="">
        </div>
        <div class="en">
            <img src="../images/images_xsc/xsc (17).jpg" alt="">
        </div>
    </div>
    <div class="public">
        <div class="course-price">
            <span class="course-price-name">&nbsp;10秒免费获取课程报价</span>
            <div class="shangke-input">
                <input type="text" placeholder="请输入孩子的姓名">
                <div class="shangke-select1 shangke-div"></div>
                <div class="shangke-select2 shangke-div"></div>
                <div class="shangke-select3 shangke-div"></div>
                <input type="text" placeholder="请输入您的电话">
                <input type="text" placeholder="住址（便于就近安排校区）">
            </div>
            <div class="course-price-get">立即获取课程报价</div>
        </div>
    </div>
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li><img src="./../images/share/foot-span_03.jpg"> </li>
            <li><img src="./../images/share/foot-span_05.jpg"> </li>
            <li><img src="./../images/share/foot-span_07.jpg"> </li>
            <li><img src="./../images/share/foot-span_09.jpg"> </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
    <script src="./../js/jquery-2.2.4.min.js"></script>
    <script src="./../js/share.js"> </script>
    <script src="../js/select.js"></script>
</body>

</html>