<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>effect</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/xg.css">
</head>

<body>
    <div class="fi">
        <img src="../images/images_xg/xg (1).jpg" alt="">
    </div>
    <div class="skill">
        <img src="../images/images_xg/xg (2).jpg" alt="">
        <div class="xuanze">
            <div class="grade">
                <select>
                    <option value="0">幼儿</option>
                    <option value="1">一年级</option>
                    <option value="2">二年级</option>
                    <option value="3">三年级</option>
                    <option value="4">四年级</option>
                    <option value="5">五年级</option>
                    <option value="6">六年级</option>
                    <option value="7">初一</option>
                    <option value="8">初二</option>
                    <option value="9">初三</option>
                    <option value="10">高一</option>
                    <option value="11">高二</option>
                    <option value="12">高三</option>
                </select>
            </div>
            <div class="subject">
                <select>
                    <option value="0">语文</option>
                    <option value="1">数学</option>
                    <option value="2">英语</option>
                    <option value="3">物理</option>
                    <option value="4">化学</option>
                    <option value="5">语言表演</option>
                    <option value="6">情商美术</option>
                </select>
            </div>
        </div>
        <div class="yangtu">
            <img src="../images/images_xg/xg (3).jpg" alt="">
            <img src="../images/images_xg/xg (4).jpg" alt="">
        </div>
    </div>
    <div class="monitor">
        <img src="../images/images_xg/xg (5).jpg" alt="">
        <div class="fenlei">
            <img src="../images/images_xg/xg (6).jpg" alt="">
        </div>
    </div>
    <div class="monitor">
        <img src="../images/images_xg/xg (7).jpg" alt="">
        <div class="fenlei">
            <img src="../images/images_xg/xg (8).jpg" alt="">
        </div>
    </div>
    <div class="monitor">
        <img src="../images/images_xg/xg (9).jpg" alt="">
        <div class="fenlei">
            <img src="../images/images_xg/xg (10).jpg" alt="">
        </div>
    </div>


</body>

</html>