<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>effect</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/xg.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/index.css">
    <link rel="stylesheet" href="./../style/chunji.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>

<body>
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
</header>
    <div class="fi">
        <img src="../images/images_xg/xg (1).jpg" alt="">
    </div>
    <div class="skill">
        <img src="../images/images_xg/xg (2).jpg" alt="">
        <div class="xuanze">
            <div class="grade">
                <select>
                    <option value="0">幼儿</option>
                    <option value="1">一年级</option>
                    <option value="2">二年级</option>
                    <option value="3">三年级</option>
                    <option value="4">四年级</option>
                    <option value="5">五年级</option>
                    <option value="6">六年级</option>
                    <option value="7">初一</option>
                    <option value="8">初二</option>
                    <option value="9">初三</option>
                    <option value="10">高一</option>
                    <option value="11">高二</option>
                    <option value="12">高三</option>
                </select>
            </div>
            <div class="subject">
                <select>
                    <option value="0">语文</option>
                    <option value="1">数学</option>
                    <option value="2">英语</option>
                    <option value="3">物理</option>
                    <option value="4">化学</option>
                    <option value="5">语言表演</option>
                    <option value="6">情商美术</option>
                </select>
            </div>
        </div>
        <div class="yangtu">
            <img src="../images/images_xg/xg (3).jpg" alt="">
            <img src="../images/images_xg/xg (4).jpg" alt="">
        </div>
    </div>
    <div class="monitor">
        <img src="../images/images_xg/xg (5).jpg" alt="">
        <div class="fenlei">
            <img src="../images/images_xg/xg (6).jpg" alt="">
        </div>
    </div>
    <div class="monitor">
        <img src="../images/images_xg/xg (7).jpg" alt="">
        <div class="fenlei">
            <img src="../images/images_xg/xg (8).jpg" alt="">
        </div>
        <p class="pl">选择大于努力，早报名早提升</p>
        <div class="fenlei_p">立即报名：028-66060688</div>
    </div>
    <div class="monitor">
        <img src="../images/images_xg/xg (9).jpg" alt="">
        <div class="fenlei">
            <img src="../images/images_xg/xg (10).jpg" alt="">
        </div>
    </div>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>

</body>

</html>