<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>小升初 </title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/xsc.css">

<body>
    <header></header>
    <div class="banner">
        <img src="../images/images_xsc/xsc (1).jpg" alt="">
    </div>
    <!-- chose reasons -->
    <div class="reason">
        <div class="tl">
            <img src="../images/images_xsc/xsc (2).jpg" alt="">
        </div>
        <p>俗话说：“初一重新排队，初二两极分化，初三天上地下”</p>
        <div>
            <img src="../images/images_xsc/xsc (3).jpg" alt="">
        </div>
        <div class="jion">
            <p>立即报名</p>
        </div>
    </div>
    <div class="start">
        <div>
            <img src="../images/images_xsc/xsc (4).jpg" alt="">
        </div>
        <p>优先一步 步步领先 领跑整个学期</p>
        <div class="method">
            <img src="../images/images_xsc/xsc (5).jpg" alt="">
        </div>
    </div>
    <div class="public">
        <div class="ly">

        </div>
        <div class="git">
            <p>立即获取课程报价</p>
        </div>
    </div>
    <div class="cammp">
        <div>
            <img src="../images/images_xsc/xsc (6).jpg" alt="">
        </div>
        <p>进步的不止成绩还有成长</p>
        <div>
            <img src="../images/images_xsc/xsc (7).jpg" alt="">
        </div>
    </div>
    <div class="broke">
        <div>
            <img src="../images/images_xsc/xsc (8).jpg" alt="">
        </div>
        <p>优势对比，让学生更优秀</p>
        <div class="different">
            <img src="../images/images_xsc/xsc (9).jpg" alt="">
        </div>
        <div class="in">
            <p>立即报名</p>
        </div>
    </div>
    <div class="more">
        <div>
            <img src="../images/images_xsc/xsc (10).jpg" alt="">
        </div>
        <p>注：6月15日结束活动报名</p>
        <div class="plan">
            <img src="../images/images_xsc/xsc (11).jpg" alt="">
        </div>
        <div class="in">
            <p>立即报名</p>
        </div>
    </div>
    <div class="charge">
        <div>
            <img src="../images/images_xsc/xsc (12).jpg" alt="">
        </div>
        <p>报名条件：3科起报名，不接受单科报名，每位学生限报一次</p>
        <div class="price">
            <img src="../images/images_xsc/xsc (13).jpg" alt="">
        </div>
        <div class="in">
            <p>立即报名参加</p>
        </div>
    </div>
    <div class="teach">
        <div>
            <img src="../images/images_xsc/xsc (14).jpg" alt="">
        </div>
        <div class="teacher">
            <img src="../images/images_xsc/xsc_11.jpg" alt="">
        </div>
    </div>
    <div class="environment">
        <div>
            <img src="../images/images_xsc/xsc (16).jpg" alt="">
        </div>
        <div class="en">
            <img src="../images/images_xsc/xsc (17).jpg" alt="">
        </div>
    </div>
    <div class="public">
        <div class="ly">
        </div>
        <div class="git">
            <p>立即获取课程报价</p>
        </div>
    </div>
</body>

</html>