<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>小升初 </title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/xsc.css">
<body>
    <header></header>
   <div class="banner">
       <img src="../images/images_xsc/xsc (1).jpg" alt="">
   </div>
   <!-- chose reasons -->
    <div class="reson">
        <div>
            <img src="../images/images_xsc/xsc (2).jpg" alt="">
        </div>
        <p>俗话说：“初一重新排队，初二两极分化，初三天上地下”</p>
        <div>
            <img src="../images/images_xsc/xsc (3).jpg" alt="">
        </div>
    </div>
    <div class="start">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <p>立即报名</p>
        </div>
    </div>
    <div class="cammp">
        <div>
            <img src="" alt="">
        </div>
        <p>进步的不止成绩还有成长</p>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div class="broke">
        <div>
            <img src="" alt="">
        </div>
        <p>优势对比，让学生更优秀</p>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div class="more">
        <div>
            <img src="" alt="">
        </div>
        <p>注：6月15日结束活动报名</p>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <img src="" alt="">
    </div>
</body>
</html>