<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幼升小</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/ysx.css">
    <link rel="stylesheet" href="./../style/share.css">
    <link rel="stylesheet" href="../style/select.css">
    <link rel="stylesheet" href="./../style/index.css">
    <link rel="stylesheet" href="./../style/chunji.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>

<body>
    <header>
        <ul>
            <li id="bgone" onclick="showdiv();" style="margin-left: 10px;cursor: pointer;"><img
                    src="./../images/share/top_03.jpg" style="width:43px;height:30px;line-height:50px;"></li>
            <li><img src="./../images/share/top_05.jpg" style="width:150px;height:30px;line-height:50px;"></li>
            <li style="margin-right: 10px;"><img src="./../images/share/top_07.jpg"
                    style="width:150px;height:30px;line-height:50px;"></li>
        </ul>
    </header>
    <div class="banner_ysx">
        <img src="../images/images_ysx/ysx (1).jpg" alt="">
    </div>
    <div class="charts">
        <div class="chart1">
            <img src="../images/images_ysx/ysx (2).png" alt="">
        </div>
        <div class="chart2">
            <img src="../images/images_ysx/ysx (3).png" alt="">
            <div>
                028-6606-0688快速资讯个性化解决方案
            </div>
        </div>
        <div class="chart3">
            <img src="../images/images_ysx/ysx (4).png" alt="">
        </div>
        <div class="chart4">
            <div class="lu">
                <img src="../images/images_ysx/ysx_3.png" alt="">
            </div>
            
            <div class="shu">
                <input class="kname" type="text" value="" placeholder="请输入您孩子的姓名">
                <input class="phone" type="text" value="" placeholder="请输入您的电话">
                <div class="get">
                    <p>立即领取</p>
                </div>
            </div>
        </div>
        <div class="chart8">
            <img src="../images/images_ysx/ysx(6).jpg" alt="">
            <div class="lk">
                028-66060688立即预约提升课程
            </div>
        </div>
        <div class="chart9">
            <img src="../images/images_ysx/ysx (10).png" alt="">
        </div>
        <div class="chart5">
            <img src="../images/images_ysx/ysx (11).png" alt="">
            <div>
                028-66060688立即预约提升课程
            </div>
        </div>
        <div class="chart6">
            <img src="../images/images_ysx/ysx (12).png" alt="">
        </div>
        <div class="chart7">
            <img src="../images/images_ysx/ysx (13).png" alt="">
        </div>
    </div>
    <div class="five-content">
        <div class="shangke-input">
            <input type="text" placeholder="请输入孩子的姓名">
            <div class="shangke-select1 shangke-div"></div>
            <div class="shangke-select2 shangke-div"></div>
            <div class="shangke-select3 shangke-div"></div>
            <input type="text" placeholder="请输入您的电话">
            <input type="text" placeholder="住址（便于就近安排校区）">
        </div>
        <div class="course-price-get">立即获取课程报价</div>
    </div>
    <div>
        <div class="products">
            <img src="./../images/share/footer_03.jpg">
        </div>
        <div class="free">
            <img src="./../images/share/footer2_12.jpg">
        </div>
    </div>
    <p class="clear"></p>
    <footer>
        <ul>
            <li><img src="./../images/share/foot-span_03.jpg"> </li>
            <li><img src="./../images/share/foot-span_05.jpg"> </li>
            <li><img src="./../images/share/foot-span_07.jpg"> </li>
            <li><img src="./../images/share/foot-span_09.jpg"> </li>
        </ul>
    </footer>
    <!-- 遮罩层  -->
    <div id="bg">
        <div class="index-nav">
            <div class="baise">
                <div class="baise-name">
                    <img src="./../images/share/tuceng1.png" alt="">
                    <h4>029-6606-0688</h4>
                    <p>点击拨打客服电话</p>
                </div>
                <div class="baise-content">
                    <div><img src="./../images/share/zu31@2x(13).png" alt="">
                        <p>首页</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(14).png" alt="">
                        <p>社区查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(15).png" alt="">
                        <p>价格查询</p>
                    </div>
                    <div><img src="./../images/share/zu 31@2x(16).png" alt="">
                        <p>关于我们</p>
                    </div>
                </div>
                <div class="foots">
                    <div><img src="./../images/share/dianhua-2@2x.png" alt="">
                        <p>电话咨询</p>
                    </div>
                    <div><img src="./../images/share/message-channel@2x.png" alt="">
                        <p>短信咨询</p>
                    </div>
                    <div><img src="./../images/share/kefu@2x.png" alt="">
                        <p>在线咨询</p>
                    </div>
                </div>
            </div>
            <div class="yinying" id="btnclose" onclick="hidediv();">
            </div>
        </div>
    </div>
</body>
<script src="./../js/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script src="./../js/share.js"> </script>
<script src="../js/select.js"></script>
</html>