<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幼升小</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/ysx.css">
</head>

<body>
    <div class="banner_ysx">
        <img src="../images/images_ysx/ysx (1).jpg" alt="">
    </div>
    <div class="charts">
        <div class="chart1">
            <img src="../images/images_ysx/ysx (2).jpg" alt="">
        </div>
        <div class="chart2">
            <img src="../images/images_ysx/ysx (3).jpg" alt="">
        </div>
        <div class="chart3">
            <img src="../images/images_ysx/ysx (4).jpg" alt="">
        </div>
        <div class="chart4">
            <img src="../images/images_ysx/ysx_3.jpg" alt="">
            <input class="kname" type="text" value="请输入您孩子的姓名">
            <input class="phone" type="text" value="请输入您的电话">
            <div class="get">
                <p>立即领取</p>
            </div>
        </div>
        <div class="chart5">
            <img src="../images/images_ysx/ysx (11).jpg" alt="">
        </div>
        <div class="chart6">
            <img src="../images/images_ysx/ysx (12).jpg" alt="">
        </div>
        <div class="chart7">
            <img src="../images/images_ysx/ysx (13).jpg" alt="">
        </div>
    </div>
    
</body>

</html>