* {
    padding: 0;
    margin: 0;
}
.entra-wrap{
    width: 100%;
    height: 100%;
}
/* =======居中类======= */
.center{
    margin: 0 auto;
}
/* =========头部========= */
.index-header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: white;
}
.index-head{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    box-sizing: border-box;
}
.index-head>a>img{
    width: 357px;
    height: 77px;
}
.index-right{
    width: 803px;
    height: 100px;
}
.index-top{
    width: 803px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-zk{
    width: 330px;
    height: 38px;
    display: flex;
    justify-content: space-around;
}
.top-zk-txt{
    width: 105px;
    height: 38px;
    background:#438ae4;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
}
.index-bom{
    width:803px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.bom-nav{
    position: relative;
}
.bom-nav>ul{
    width: 440px;
    height: 45px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* =======点击时字体的颜色 */
.bom-nav .li-active{
    color:#438ae4 ;
}
.nav-line{
    position: absolute;
    bottom: 0px;
    width: 35px;
    height: 2px;
    background:#438ae4 ;
    margin-left: 15px;
}
.bom-phone{
    width: 276px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.phone-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #438ae4;
}
.phone-one>img{
    width: 30px;
    height: 25px;
    margin-right: 5px;
}
.phone-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: #438ae4;
    cursor: pointer;
}
.phone-two>img{
    width: 20px;
    height: 15px;
    margin-right: 5px;
}
.index-erweima{
    width: 123px;
    height: 137px;
    position: absolute;
    bottom: -137px;
    right: -36px;
    background-image: url(../images/index/erweima.png);
    background-size: 100% 100%;
    cursor: pointer;
    display: none;
}
.phone-two:hover .index-erweima{
    display: block;
}
/* ===========主体=========== */
.entra-main{
    width: 100%;
    height: 100%;
    margin-top: 117px;
}
/* =========图片展示======== */
.entra-banner{
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url('../images/gaokao/gaokao.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ==========中考倒计时========= */
.entra-countdown{
    width: 1200px;
    height: 143px;
    background-color: pink;
    position: absolute;
    bottom: -67px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 2px 10px #b0cef3;
    border-radius: 21px;
    background-image: url(../images/gaokao/pcgaokao.png);
    background-size: 100% 100%;
}
.countdown-time{
    width: 357px;
    height: 70px;
    position: absolute;
    bottom: 36px;
    left: 428px;
    background-color: rgba(92,190,251,0);
    text-align:center;
}
.countdown-time .timeItem{
    background-color: white;
    color:black;
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    height:60px;
    line-height:60px;
    padding:0px 20px;
}
.countdown-time section{
     width: 357px;
     height: 70px;
}
.countdown-time section .dot{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
}
.entra-btn{
    width: 260px;
    height: 69px;
    background:rgb(94,181,248);
    border-radius: 69px;
    text-align: center;
    line-height: 69px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 36px;
    left: 878px;
    cursor:pointer;
}

/* ========推销========= */
.entra-sell{
    width: 100%;
    height: 100%;
    background-image: url(../images/entrance/01.jpg);
    background-size: 100% 100%;
    margin-top: 144px;
}
.index-sell{
    width: 1200px;
    height: 398px;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
}
.index-sell-1{
    width: 399px;
    height: 196px;
    text-align: center;
    padding-top: 45px;
    box-sizing: border-box;
    color: #333333;
    font-size: 18px;
}
.index-sell-1>p:first-child{
    font-size: 36px;
    color: #333333;
}
.index-sell-1>p:nth-of-type(2){
    width: 36px;
    height: 2px;
    background: rgb(230,54,56);
    margin-top: 17px;
    margin-bottom: 20px;
}
/* =============课程表单========== */
.entra-form{
    width: 1200px;
    height: 420px;
    margin-top: 72px;
}
.entra-inp{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.entra-inp>input,.entra-inp>select{
    width: 579px;
    height: 76px;
    margin-bottom: 39px;
    font-size: 24px;
    padding: 0px 0px 0px  10px;
    box-sizing: border-box;

}
.entra-form-btn{
    width: 1200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    background-color: rgb(197,13,15);
    color: #ffffff;
    cursor:pointer;
}
.select-box{
    overflow: hidden;
    border: 1px solid black;
    position: relative;
}
.select-triangle{
    float: right;
    border: 7px solid;
    border-color: transparent transparent black;
}
.select-childbox{
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid black;
}

/* 学习状态 */
.studyState{
    height:1050px;
    width:100%;
    margin-top:72px;    
    position:relative;
}
.studyState img{
   width:100%;
   height:100%;
   object-fit: cover;
}
.studyState div{
  width:285px;
  height:70px;
  background-color:rgba(255,239,90,0);
  position: absolute;
  bottom:45px;
  right:340px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 70px;
  cursor:pointer;
}

/* 底部表单部分 */
.formpart{
    height:1100px;
    width:100%;
    margin-top: 72px;
    background-image: url('../images/gaokao/gaokaoform_04.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer-inp{
    width:1200px;
    height:350px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom:146px;
    left:50%;
    margin-left:-600px;
}
.footer-inp>input,.footer-inp>select{
    width: 579px;
    height: 76px;
    margin-bottom: 39px;
    font-size: 24px;
    padding: 0px 0px 0px  10px;
    box-sizing: border-box;

}
.form-btn{
    width: 1200px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    background-color: rgb(197,13,15);
    color: #ffffff;
    cursor:pointer;
    position: absolute;
    left:50%;
    margin-left:-600px;
    bottom:72px;
}
/* 课程特色 */
.speciallesson{
    height:1850px;
    width:100%;
    background-image: url('../images/gaokao/siren_07.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.speciallesson div{
    width:700px;
    height:70px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-350px;
    color: #fff;
    background-color: rgb(197,13,14);
    font-size: 30px;
    cursor:pointer;
    text-align: center;
    line-height: 70px;
}
.circlecenter{
    width:100%;
    height:765px;
    background-image: url('../images/gaokao/circleteacher_02.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:72px;
}
.szlsqq{
    width: 1200px;
    margin: auto;
    z-index: 9;
    position: relative;
    top:190px;
}
.szlsqq>div{
    position: absolute;
    width: 315px;
    height: 63px;
    border-radius: 41px;
    border: solid 1px rgb(198,19,20);
    text-align: center;
    line-height: 63px;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
}
.szlsqq>div:hover{
    background-color: rgb(255,184,184);
    border: solid 1px rgb(198,19,20);
}
.szhovers1{
    top: 60px;
    left: 135px;
}.szhovers2{
    top: 178px;
    left: 81px;
}.szhovers3{
    top: 302px;
    left: 81px;
}.szhovers4{
    top: 409px;
    left: 135px;
}.szhovers5{
    top: 60px;
    right: 128px;
}.szhovers6{
    top: 178px;
    right: 79px;
}.szhovers7{
    top: 302px;
    right: 79px;
}.szhovers8{
    top: 409px;
    right: 128px;
}
.circlecenter img{
    width:470px;
    height:72px;
    position: absolute;
    left:50%;
    margin-left:-235px;
    bottom:0px;
    z-index:50;
}
/* 教师团队部分 */
.entra-tutor{
    width: 100%;
    height: 600px;
    background-image: url('../images/gaokao/bioteacher_03.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:-36px;
}
.tutor_innerBox{
    width: 1200px;
    height: 600px;
    margin:0 auto;
    overflow: hidden;
    position:relative;
}

.swiper_box{
    width:330px;
    height:6px;
    position:absolute;
    right:70px;
    bottom:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.swiper_box .swiper_line{
    height:8px;
    width:40px;
    background-color:rgb(209,61,62);
    border-radius: 5px;
}
.swiper_box .current_swiper_line{
    background-color: #fff;
}
/* 优越的环境 */
.envi{
    height:1115px;
    width:100%;
    background-image: url('../images/gaokao/environment_05.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.envi div{
    width:700px;
    height:70px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-350px;
    color: #fff;
    background-color: rgb(197,13,14);
    font-size: 30px;
    cursor:pointer;
    text-align: center;
    line-height: 70px;
}
/* ============底部=========== */
.index-footer{
    width: 100%;
    height: 793px;
    margin-top: 72px;
}
.footer-back{
    width: 100%;
    height: 420px;
    background-image: url(../images/gaokao/footimg_07.png);
    background-size: 100% 100%;
    padding-top: 55px;
    box-sizing: border-box;
}

.footer-pic{
    width: 100%;
    height: 374px;
    position: relative;
    padding-top: 72px;
    box-sizing: border-box;
}
.pic-logo{
    width: 1200px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic-txt{
    width: 1200px;
    height: 150px;
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding-top: 42px;
    box-sizing: border-box;
}
.pic-txt>p{
    margin-bottom: 9px;
}
.pic-back{
    width: 100%;
    height: 95px;
    background-image: url(../images/index/footerdibuback.jpg);
    background-size: 100% 100%;
    position: relative;
}
.pic-back>img{
    position: absolute;
    bottom: 0px;
    right: 10%;
}
.footer-inpt{
    position: absolute;
    bottom: 20px;
    left: 191px;
    width:1012px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-inpt>input{
    width: 161px;
    height: 42px;
    border: none;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.footer-inpt>select{
    width: 136px;
    height: 42px;
    border: none;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.footer-inpt>p{
    width: 199px;
    height: 42px;
    background-color: #f3b819;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height:42px ;
    font-weight: bold;
    cursor:pointer;
}