*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.index-wrap{
    width: 100%;
    height: 100%;
}
/* =========头部========= */
.index-header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: white;
}
.index-head{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    box-sizing: border-box;
}
.index-head>a>img{
    width: 357px;
    height: 77px;
}
.index-right{
    width: 803px;
    height: 100px;
}
.index-top{
    width: 803px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-zk{
    width: 330px;
    height: 38px;
    display: flex;
    justify-content: space-around;
}
.top-zk-txt{
    width: 105px;
    height: 38px;
    background:#438ae4;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
}
.index-bom{
    width:803px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.bom-nav{
    position: relative;
}
.bom-nav>ul{
    width: 440px;
    height: 45px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* =======点击时字体的颜色 */
.bom-nav .li-active{
    color:#438ae4 ;
}
.nav-line{
    position: absolute;
    bottom: 0px;
    width: 35px;
    height: 2px;
    background:#438ae4 ;
    margin-left: 15px;
}
.bom-phone{
    width: 276px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.phone-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #438ae4;
}
.phone-one>img{
    width: 30px;
    height: 25px;
    margin-right: 5px;
}
.phone-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: #438ae4;
    cursor: pointer;
}
.phone-two>img{
    width: 20px;
    height: 15px;
    margin-right: 5px;
}
.index-erweima{
    width: 123px;
    height: 137px;
    position: absolute;
    bottom: -137px;
    right: -36px;
    background-image: url(../images/index/erweima.png);
    background-size: 100% 100%;
    cursor: pointer;
    display: none;
}
.phone-two:hover .index-erweima{
    display: block;
}

/* ============主体========== */
.index-main{
    width: 100%;
    height: 100%;
    margin-top: 117px;
    position:relative;
}
/* ==========轮播图+课程========== */
.index-banner{
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 72px;
}
/* ===========轮播图========= */
.swiper-container {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top:-36px;
    overflow: hidden;
    margin-top:72px;
} 
.swiper-slide>img{
    width:100%;
    height:600px;
    object-fit: cover;
}
.swiper-wrapper{
    width: 100%;
    height: 600px;
}

/* =======轮播图切换按钮========= */

/* ===========课程类型========== */
.boxx{
    height:540px;
    width:375px;
    position: absolute;
    left:50%;
    margin-left:-600px;
    top:21px;
    z-index:50;
}
.banner-course{
    width: 370px;
    height: 564px;
    background-color: white;
    padding: 40px 0px 0px 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index:50;
}

.course-one span{
    cursor: pointer;
}
.course-one span:hover{
   color: #5291ef;
}

.course-one{
    font-size: 16px;
    color: #999999;
    margin-bottom: 40px;
}
.course-one-1{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.course-one-1>.wid>img{
    width: 20px;
    height: 22px;
}
.course-one-1>.widt>img{
    width: 24px;
    height: 22px;
}
.one-1-img{
    width: 24px;
    height: 20px;
    margin-right: 10px;
}
#iq{
    margin-right:0;
}
.one-1-img>img{
    width: 24px;
    height: 20px;
}
.course-one-1>p{
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}
.course-one-2{
    margin-bottom: 16px;
}
.course-one-2>span,.course-one-3>span{
    margin-right: 23px;
}
.course-one-2 >.specialtext{
    margin-right:16px;
}

/* ============课程========= */
.course{
    width: 1200px;
    height: 224px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.course-1{
    width: 180px;
    height: 232px;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px #b0cef3;
}
.course-1-logo{
    width: 60px;
    height: 60px;
    background-color: gray;
}
.center{
    margin: 0 auto;
}
.course-1-logo>img{
    width: 60px;
    height: 60px;
}
.course-1-txt{
    height: 28px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.course-1-link{
    cursor: pointer;
    width: 104px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #BCBCBC;
    border: 1px solid #BCBCBC;
    border-radius: 30px;
    margin-bottom: 30px;
}
.course-1-line{
    width: 100%;
    height: 5px;
    background:gray;
}

/* =======移入盒子时了解详解的样式 */
.course-1:hover .course-1-link{
    background: rgb(39,91,253);
    color: #ffffff;
}
/* =====移入课程盒子时下划线的颜色 */
.course-1:hover .course-1-line{
    background: rgb(39,91,253);
}

/* ========推销========= */
.index-shell{
    width: 100%;
    height: 100%;
    background-image: url(../images/entrance/01.jpg);
    background-size: 100% 100%;
}
.index-sell{
    width: 1200px;
    height: 398px;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
}
.index-sell-1{
    width: 399px;
    height: 196px;
    text-align: center;
    padding-top: 45px;
    box-sizing: border-box;
    color: #333333;
    font-size: 18px;
}
.index-sell-1>p:first-child{
    font-size: 36px;
    color: #333333;
}
.index-sell-1>p:nth-of-type(2){
    width: 36px;
    height: 2px;
    background: #438ae4;
    margin-top: 17px;
    margin-bottom: 20px;
}
/* ==============宣传======== */
/* 方格布局 课程 */
.xb-grow {
    width: 1200px;
    height: 728px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.xb-grow>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.xb-grow>div>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.xb-grow11 {
    height: 215px;
    color: #ffffff;
    background-color: rgb(67,138,228);
    cursor:pointer;
    z-index: 10;
}

.xb-grow12 {
    height: 215px;
    color: #ffffff;
    box-shadow: 0 0 8px #d9e4f1;
    cursor:pointer;
    z-index: 10;
}
.xb-grow31 {
    height: 226px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px 18px;
    background-color: rgb(67,138,228);
}
#higherindex{
    height:728px;
    width:1200px;
    position: absolute;
    left:50%;
    top:0;
    margin-left:-600px;
    overflow:hidden;
}
#higherindex span{
    width:300px;
    height:728px;
    position: absolute;
    left:0;
    top:0;
    background-color: #fff;
    z-index: 1;
}
#innerbtn{
    width:858px;
    height:100%;
    position: absolute;
    top:0;
    right:0;
    display:none;
}
#innerbtn>.bigger{
    width: 230px;
    height: 56px;
    position:absolute;
    left:20px;
    top:188px;
    cursor:pointer;
}
#innerbtn>.btn-1{
    width: 165px;
    height: 41px;
    position:absolute;
    left:20px;
    top:460px;
    cursor:pointer;
}
#innerbtn>.btn-2{
    width: 165px;
    height: 41px;
    position:absolute;
    left:20px;
    top:666px;
    cursor:pointer;
}
#innerbtn>.btn-3{
    width: 165px;
    height: 41px;
    position:absolute;
    right:120px;
    top:160px;
    cursor:pointer;
}
#innerbtn>.btn-4{
    width: 165px;
    height: 41px;
    position:absolute;
    right:120px;
    top:406px;
    cursor:pointer;
}
#innerbtn>.btn-5{
    width: 165px;
    height: 41px;
    position:absolute;
    right:120px;
    top:658px;
    cursor:pointer;
}
#innerbt{
    width:858px;
    height:100%;
    position: absolute;
    top:0;
    right:0;
    display:none;
}
#innerbt>.smaller{
    width: 230px;
    height: 56px;
    position:absolute;
    left:20px;
    top:188px;
    cursor:pointer;
}
#innerbt>.bt-1{
    width: 165px;
    height: 41px;
    position:absolute;
    left:34px;
    top:658px;
    cursor:pointer;
}
#innerbt>.bt-2{
    width: 165px;
    height: 41px;
    position:absolute;
    right:160px;
    top:240px;
    cursor:pointer;
}
#innerbt>.bt-3{
    width: 165px;
    height: 41px;
    position:absolute;
    right:368px;
    top:658px;
    cursor:pointer;
}
#innerbt>.bt-4{
    width: 165px;
    height: 41px;
    position:absolute;
    right:74px;
    top:658px;
    cursor:pointer;
}
#seeblue{
    height:728px;
    width:1200px;
    position: absolute;
    left:0;
    top:0;
    display:none;
}
#anotherpic{
    height:728px;
    width:1200px;
    position: absolute;
    left:0;
    top:0;
    display:none;
}
.xb-grow21 {
    height: 315px;
    position: relative;
    color: #ffffff;
    background-color: rgb(67,138,228);
}

.xb-grow22 {
    height: 185px;
    box-sizing: border-box;
    padding: 10px 18px;
    color: #ffffff;
    background-color: rgb(67,138,228);
}
.xb-grow1 {
    width: 303px;
}

.xb-grow2 {
    width: 518px;
    z-index: 2;
}
.xb-grow2>div>span{
    font-size: 24px;

}
.xb-grow2>div>p{
    font-size: 18px;
}
.xb-grow2>div>button{
    border: 0px;
    color: rgb(171,202,253);
    font-size: 20px;
    width: 165px;
    height: 41px;
    background-color: rgb(64,128,237);
    cursor:pointer;
}
.xb-grow2>div>div {
    width: 42px;
    height: 3px;
    background-color: rgb(77,218,244);
}

.xb-grow3 {
    width: 318px;
    z-index: 2;
}
.xb-grow3>div>span{
    font-size: 24px;

}
.xb-grow3>div>p{
    font-size: 18px;
    line-height: 36px;
}
.xb-grow3>div>button{
    border: 0px;
    color: rgb(171,202,253);
    font-size: 20px;
    width: 165px;
    height: 41px;
    background-color: rgb(64,128,237);
    cursor:pointer;
}
.xb-grow3>div>div {
    width: 42px;
    height: 3px;
    background-color: rgb(77,218,244);
    
}
.xb-grow1>div>p {
    text-align: center;
    margin-top: 20px;
    color: #333333;
    font-size: 36px;
}

.xb-grow1>div>span {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
    font-size: 24px;
}

.xb-grow1>.xb-grow11>p {
    color: white;
}

.xb-grow1>.xb-grow11>span {
    color: white;
}

.xb-grow21 img {
    height: 100%;
}
.xb-grow2>div>.xbmfzx{
    position: absolute;
    top: 188px;
    left: 24px;
    width: 233px;
    height: 61px;
    opacity: 0;
}
.xb-grtie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* =======步骤======= */
.index-step{
    width: 100%;
    height: 986px;
    margin-top: 65px;
    padding-top: 72px;
    box-sizing: border-box;

}
#picimg{
    width:100%;
    object-fit:cover;
    height:986px;
    margin-top:-986px;
}
.step{
    width: 1200px;
    height: 986px;
    position: relative;
}
.step-nav{
    width: 1200px;
    height: 96px;
    position: relative;
}
.active{
    font-size: 32px;
    padding-bottom:12px;
}
.specili{
    margin-left:80px;
}

.step-nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 25px;
    color:white;
}
.innerline{
    height:4px;
    width:1200px;
    position: absolute;
    left:0;
    top:54px;
}
.innerline .step-line{
   display: none;
}
.innerline .step-line:nth-of-type(1){
    height:4px;
    width:140px;
    background-color: #fff;
    position: absolute;
    left:110px;
}
.innerline .step-line:nth-of-type(2){
    height:4px;
    width:180px;
    background-color: #fff;
    position: absolute;
    left:510px;
}
.innerline .step-line:nth-of-type(3){
    height:4px;
    width:200px;
    background-color: #fff;
    position: absolute;
    left:868px;
}
.innerline>.flow{
    display:block;
}
.step-nav>ul>li{
    cursor: pointer;
}

.step-content{
    width: 1200px;
    height: 746px;
    position: absolute;
    display: none;
}


.cor{
    background-color: pink;
}
.cor img{
    width: 1200px;
    height: 746px;
    position: absolute;
    left:0;
    top:0;
}
.cor div{
    width: 726px;
    height: 60px;
    position: absolute;
    left:50%;
    margin-left:-363px;
    bottom:0;
    cursor:pointer;
}
.colo{
    height:818px;
}
.colo img{
    height:818px;
    width:1200px;
    position: absolute;
    left:0;
    top:0;
}
.colo div{
    width: 726px;
    height: 60px;
    position: absolute;
    left:50%;
    margin-left:-363px;
    bottom:72px;
    cursor:pointer;
}
.show{
    display: block;
}
.con-school{
    width: 1200px;
    height: 168px;
}
.school{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}
.school .school-back{
    background:#4fe4ff;
    color: #2759de;
}
.school .school-wid{
    width: 270px;
}
.school>div{
    width: 166px;
    height: 60px;
    border: 1px solid #4fe4ff;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color:#4fe4ff ;
}
.con-text{
    margin-top: 40px;
}
.con-text div{
    height:42px;
    width:1163px;
    position: absolute;
    left:50%;
    top:684px;
    margin-left:-581px;
    z-index: 10;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.con-text>div>span{
   height:100%;
   width:206px;
   cursor:pointer;
}
/* ==========关注======== */
.index-att{
    width: 1200px;
    height: 555px;
    margin-top: 72px;
}
.att-title{
    width: 1200px;
    height: 104px;
    text-align: center;
    color: #333333;
    font-size: 36px;
}
.att-content{
    width: 1200px;
    height: 376px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.att-content>div{
    width: 299px;
    height: 188px;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
}
.content-1>p:first-child{
    color: #333333;
    font-size: 32px;
    margin-bottom: 29px;
}
.content-1>p:last-child{
    width: 191px;
    height: 40px;
    border: 1px solid #438ae4;
    color: #438ae4;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}
/* =========移入时的样式 */
.content-1:hover{
    background: #3a78f0;
}
.content-1:hover .con-txt{
    color: #ffffff;
}
.content-1:hover .attp{
    color: #ffffff;
    background: #f3b819;
    cursor:pointer;
}

/* ============资讯========= */
.index-infor{
    width: 1200px;
    height: 646px;
    margin-top: 72px;
}
.infor-title{
    width: 1200px;
    height: 106px;
    text-align: center;
    color: #333333;
    font-size: 36px;
}
.infor-bom{
    width: 1200px;
    height: 540px;
    display: flex;
    justify-content: space-between;
}
.infor-bom-l{
    width: 720px;
    height: 540px;
    position: relative;
}
.l-nav{
    position: relative;
    width: 720px;
    height: 87px;
}

/* =====点击导航时的样式 */
.nav-active{
    color: #3a78f0;
}
.l-nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 24px;
    color: #333333;
}
.l-nav-line{
    position: absolute;
    bottom: 47px;
    left: 57px;
    width: 120px;
    height: 2px;
    background: #3a78f0;
}
.l-text{
    width: 720px;
    height: 453px;
    position: absolute;
    display: none;
}
.infor-show{
    display: block;
}
.text-top{
    height: 375px;
}
.text-top-p1{
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}
.text-top-p1>span{
    color: #3a78f0;
    margin-left:135px;
    cursor: pointer;
}
.text-top>p:nth-of-type(3)>span{
margin-left:125px ;
}
.text-top>p:nth-of-type(2),.text-top>p:nth-of-type(4){
    color: #AEAEAE;
    font-size: 13px;
    margin-top: 29px;
    margin-bottom: 40px;
}
.text-bom{
    width: 720px;
    height: 77px;
    font-size: 20px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.text-bom>div{
    width: 320px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infor-bom-r{
    width: 422px;
    height: 540px;
}
.infor-bom-r>img{
    width: 422px;
    height: 540px;
}

/* ============底部=========== */
.index-footer{
    width: 100%;
    height: 793px;
    margin-top: 72px;
}
.schho{
    margin:0 auto;
}
.footer-back{
    width: 100%;
    height: 420px;
    background-image: url(../images/index/footerback.jpg);
    background-size: 100% 100%;
    padding-top: 55px;
    box-sizing: border-box;
}
.back-logo,.back-text{
    width: 1200px;
}
.back-logo>img{
    width: 450px;
    height: 100px;
    margin-left: 380px;
    margin-bottom: 79px;
}
.shengw ,.huax, .wuli{
    display:block;
}
.footer-pic{
    width: 100%;
    height: 374px;
    position: relative;
    padding-top: 72px;
    box-sizing: border-box;
}
.pic-logo{
    width: 1200px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic-txt{
    width: 1200px;
    height: 150px;
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding-top: 42px;
    box-sizing: border-box;
}
.pic-txt>p{
    margin-bottom: 9px;
}
.footer-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99
}
.pic-back{
    width: 100%;
    height: 95px;
    background-image: url(../images/index/footerdibuback.jpg);
    background-size: 100% 100%;
    position: relative;
}
.pic-back>img{
    position: absolute;
    bottom: 0px;
    right: 10%;
}
.footer-inp{
    position: absolute;
    bottom: 20px;
    left: 191px;
    width:1012px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-inp>input{
    width: 161px;
    height: 42px;
    border: none;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.footer-inp>select{
    width: 136px;
    height: 42px;
    border: none;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.footer-inp>p{
    width: 199px;
    height: 42px;
    background-color: #f3b819;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height:42px ;
    font-weight: bold;
    cursor:pointer;
}

#floatright {
    position: fixed;
    right: 10px;
    width: 144px;
    height: 680px;
    display: block;
    background: transparent url(../images/index/rightbj.png) no-repeat top scroll;
    background-size: contain;
    z-index: 999;
    top: 50%;
    margin-top: -305px;
}
#floatright ul {
padding-top: 168px;
    margin: 0 7px;
}

#floatright li img{
    height: 24px;
    width: 24px;

} 

#floatright ul li {
  font-size: 12px;
  width:132px;
  height:60px;
}
#floatright ul li:hover {
  background: #F3B819
}

#floatright ul li a {
    display: block;
    text-align: center;
    padding-top: 6px;
font-size:14px;
font-family:Source Han Sans CN;
font-weight:400;
color:rgba(255,255,255,1);
}
#floatright .sumtime {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;
  color: #fff;
}

#floatright .top {
  position: absolute;
  bottom: 27px;
  text-align: center;
  width: 100%;
}
#floatright .top img {
  display: block;
  margin: auto;
}
