#shoufei-box{
    position: absolute;
    z-index: 999;
}
#shoufei-box.hidden{
    display: none;
}
#shoufei-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #7f7f7f;
    opacity: 0.5;
}
.shoufei-box{
    background-image: url(../images/ly/pcbaojia1.png);
    width: 600px;
    height: 567px;
    position: fixed;
    top: calc( 50% - 267px);
    left: calc( 50% - 300px);
    border-radius: 30px;
}
.shoufei-box>input{
    box-sizing: border-box;
    display: block;
    width: 465px;
    height: 60px;
    margin: 0px  auto;
    margin-bottom: 25px;
    padding-left: 20px;
    font-size: 18px;
}
.shoufei-box>input::-webkit-input-placeholder{
    color: #d3d3d3;
}
.charge-img{
    position: absolute;
    top: -32px;
}
.shoufei-box>.shoufei-first{
    margin-top: 150px;
}
.charge-select{
    display: flex;
    width: 465px;
    margin: 0 auto;
    justify-content:space-between;
    margin-bottom: 12px;
}
.btn-style2{
    width: 222px;
    height: 60px;
    background-color: #cecece;
    border: 0px;
    color: #999999;
    cursor: pointer;
}
.btn-style1{
    width: 222px;
    height: 60px;
    border: 0px;
    background: -webkit-linear-gradient(left,#f1ca48,#ec5b2b);
    background: -moz-linear-gradient(left,#f1ca48,#ec5b2b);
    background:linear-gradient(260deg,rgba(236,88,41,1) 0%,rgba(241,152,72,1) 34%,rgba(241,202,72,1) 100%);
    color: white;
    cursor: pointer;
}
.shoufei-i{
    cursor: pointer;
    position: absolute;
    right: -55px;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
    color: white;
    top: 0;
    font-weight: 200;
    line-height: 40px;
}


/* 留言的样式 */
#liuyan-box{
    position: absolute;
    z-index: 999;
    display: none;
}
#liuyan-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #7f7f7f;
    opacity: 0.9;
}
.pcly{
    background-image: url(../images/ly/beijng.png);
    width: 600px;
    height: 568px;
    margin: auto;
    position: fixed;
    top: calc( 50% - 267px);
    left: calc( 50% - 300px);
}
.liuyan-box{
    position: relative;
    width: 517px;
    padding-top: 15px;
    top: 95px;
    height: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ly-inp1{
    width: 234px;
    height: 57px;
    border: 1px solid black;
}
.ly-inp2{
    width: 100%;
    height: 57px;
    margin: 26px 0;
    border: 1px solid black;
}
.liuyan-box>input{
    padding-left: 14px;
    font-size: 18px;
}
.liuyan-select1{
    background-color: white;
}
#TextArea1{
    width: 380px;
    height: 80px;
    padding-left: 14px;
    font-size: 18px;
    padding-top: 14px;
}
.liuyan-box>button{
    width: 100%;
    font-size: 18px;
    background-color: #ffde35;
    border: 0;
    color: #122ec2;
    height: 60px;
    margin-top: 15px;
}
.close-btn{
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    right: -49px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    text-align: center;
}
.close-btn:hover{
    cursor:pointer;
}
.liuyan-box>button:hover{
    cursor:pointer;
}