*{
    padding: 0;
    margin: 0;
}
/* ============底部=========== */
.center{
    margin: 0 auto;
}
.index-footer{
    width: 100%;
    height: 793px;
    margin-top: 72px;
}
.footer-back{
    width: 100%;
    height: 420px;
    background-image: url(../images/index/footerback.jpg);
    background-size: 100% 100%;
    padding-top: 55px;
    box-sizing: border-box;
}
.back-logo,.back-text{
    width: 1200px;
}
.back-logo>img{
    width: 450px;
    height: 100px;
    margin-left: 380px;
    margin-bottom: 79px;
}
.footer-pic{
    width: 100%;
    height: 374px;
    position: relative;
    padding-top: 72px;
    box-sizing: border-box;
}
.pic-logo{
    width: 1200px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic-txt{
    width: 1200px;
    height: 150px;
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding-top: 42px;
    box-sizing: border-box;
}
.pic-txt>p{
    margin-bottom: 9px;
}
.pic-back{
    width: 100%;
    height: 95px;
    background-image: url(../images/index/footerdibuback.jpg);
    background-size: 100% 100%;
    position: relative;
}
.pic-back>img{
    position: absolute;
    bottom: 0px;
    right: 10%;
}
.footer-inp{
    position: absolute;
    bottom: 20px;
    left: 191px;
    width:1012px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-inp>input{
    width: 161px;
    height: 42px;
    border: none;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.footer-inp>select{
    width: 136px;
    height: 42px;
    border: none;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
}
.footer-inp>p{
    width: 199px;
    height: 42px;
    background-color: #f3b819;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height:42px ;
    font-weight: bold;
}