* {
    margin: 0;
    padding: 0;
}

.szbox-sz {
    width: 100%;
    margin-top: 120px;
}

/* ==========轮播图+课程========== */
.index-banner{
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 72px;
}
/* ===========轮播图========= */
.banner{
    width: 100%;
    height: 600px;
}
.banner>img{
    width: 100%;
    height: 100%;
}
/* =======轮播图切换按钮========= */
.banner-switch{
    width: 96px;
    height: 42px;
    position: absolute;
    top: 87%;
    left: 84%;
    display: flex;
    justify-content: space-between;
}
.banner-switch>div{
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.527);
}
.switch-left>img,.switch-right>img{
   margin: 14px;
}

/* ===========课程类型========== */
.banner-course{
    width: 370px;
    height: 540px;
    background-color: white;
    margin-left: 165px;
    padding: 20px 0px 0px 20px;
    box-sizing: border-box;
    position: absolute;
    top: 21px;
    left: 26px;
}
.course-one{
    font-size: 16px;
    color: #999999;
    margin-bottom: 45px;
}
.course-one-1{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.course-one-1>.wid>img{
    width: 20px;
    height: 22px;
}
.course-one-1>.widt>img{
    width: 24px;
    height: 22px;
}
.one-1-img{
    width: 24px;
    height: 20px;
    margin-right: 10px;
}

.one-1-img>img{
    width: 24px;
    height: 20px;
}
.course-one-1>p{
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}
.course-one-2{
    margin-bottom: 20px;
}
.course-one-2>span,.course-one-3>span{
    margin-right: 23px;
}


/* ============课程========= */
.course{
    width: 1200px;
    height: 224px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.course-1{
    width: 180px;
    height: 232px;
    padding-top: 63px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px #b0cef3;
}
.course-1-logo{
    width: 60px;
    height: 60px;
    background-color: gray;
}
.center{
    margin: 0 auto;
}
.course-1-logo>img{
    width: 60px;
    height: 60px;
}
.course-1-txt{
    height: 28px;
    font-size: 20px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 15px;
}
.course-1-link{
    width: 104px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #BCBCBC;
    border: 1px solid #BCBCBC;
    border-radius: 30px;
    margin-bottom: 15px;
}
.course-1-line{
    width: 100%;
    height: 5px;
    background:gray;
}

/* 辅导模式*/
.xbxian-xia {
    width: 100%;
    height: 542px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url("../images/yinxing/fdmsbgt.png");
    background-size: cover;
}

.xbxian-ul {
    list-style: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
    height: 399px;
}

.xbxian-ul>li {
    width: 398px;
    float: left;
    height: 198px;
    border-right: 1px dotted #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbxian-ul>li:nth-of-type(3n) {
    border-right: 0px;
}

.xbxian-ul>li:nth-of-type(1) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(2) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(3) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbli-div {
    width: 155px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.xbli-div>div {
    width: 22px;
    height: 2px;
    margin-top: -10px;
    background-color: #5998e7;
}

.xbli-div>p {
    font-size: 40px;
    color: #333333;
}

.xbli-div>span {
    font-size: 20px;
    color: #333333;
}
/* 老师团队  */
.szimg-2{
    width: 1200px;
    height: 800px;
    margin: auto;
    background-image: url("../images/yinxing/szbjhz.png");
    background-size: cover;
    margin-bottom: 65px;
}
/* 了解团队 */
.szimg-3{
    width: 1200px;
    position: relative;
    height: 260px;
    margin: auto;
    background-image: url("../images/yinxing/shiztuandu.png");
    background-size: cover;
}
.szdianji{
    position: absolute;
    height: 72px;
    width: 358px;
    top: 165px;
    left: 24px;
    cursor: pointer;
}
.sztd1{
    width: 100%;
    padding:10px 0px ;
    background-image: url("../images/yinxing/shiztuandu1.png");
    background-size: contain ;
}

/* 底部图片 */
.xbimgs-1{
    width: 100%;
}
.xbimgs-1>img{
   width:  100%;
}
 /* 按钮图片 */
.szantp{
    margin: auto;
    margin-top: 72px;
    width: 655px;
    height: 102px;
}
.szantp>img{
    width: 100%;
}
/* 优秀教师模范 */
.szxxjsbox1{
    width: 100%;
    margin-top: 46px;
    background-color: #f8f8f8;
}
.szlsqq{
    width: 1200px;
    margin: auto;
    z-index: 9;
    position: relative;
}
.szlsqq img{
    width: 100%;
}
.szlsqq>div{
    position: absolute;
    width: 315px;
    height: 63px;
    border-radius: 41px;
    border: 1px solid #23227b;
    text-align: center;
    line-height: 63px;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
}
.szlsqq>div:hover{
    background-color: #caccff;
    border: solid 1px #1e25e6;
}
.szhovers1{
    top: 60px;
    left: 135px;
}.szhovers2{
    top: 178px;
    left: 81px;
}.szhovers3{
    top: 302px;
    left: 81px;
}.szhovers4{
    top: 409px;
    left: 135px;
}.szhovers5{
    top: 60px;
    right: 128px;
}.szhovers6{
    top: 178px;
    right: 79px;
}.szhovers7{
    top: 302px;
    right: 79px;
}.szhovers8{
    top: 409px;
    right: 128px;
}
/* 轮播图 */
.szlbt-box{
    width: 100%;
    margin-top: -60px;
    background-color: #2659ff;
}

.szlbtyg{
    position: relative;
    width: 1200px;
    margin: auto;
}
.szlbtyg img{
    width: 100%;
}