*{
    margin: 0;
    padding: 0;
}
/* 头部 轮播图 */
.szimg-1 {
    width: 100%;
}

.szimg-1>img {
    width: 100%;
}


/* 辅导模式*/
.xbxian-xia {
    width: 100%;
    height: 542px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url("../images/yinxing/fdmsbgt.png");
    background-size: cover;
}

.xbxian-ul {
    list-style: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
    height: 399px;
}

.xbxian-ul>li {
    width: 398px;
    float: left;
    height: 198px;
    border-right: 1px dotted #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbxian-ul>li:nth-of-type(3n) {
    border-right: 0px;
}

.xbxian-ul>li:nth-of-type(1) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(2) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(3) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbli-div {
    width: 155px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.xbli-div>div {
    width: 22px;
    height: 2px;
    margin-top: -10px;
    background-color: #5998e7;
}

.xbli-div>p {
    font-size: 40px;
    color: #333333;
}

.xbli-div>span {
    font-size: 20px;
    color: #333333;
}

/* 立即预约测评 */
.xgljcpbox{
background-color: #438ae6;
box-shadow: 0 0 2px #438ae6;
}
.xgljcpl{
    width: 1200px;
    margin: auto;
    height: 119px;
    position: relative;
}
.xgljcpl>div{
    width: 343px;
    height: 72px;
    bottom: 27px;
    right: 205px;
    cursor: pointer;
    position: absolute;
}
.xgljcpl>img{
    width: 1111px;
    position: absolute;
    bottom: 0px;
    margin-left: 89px;
}

/* 优秀教师模范 */
.szxxjsbox1{
    width: 100%;
    padding-top: 30px;
    background-color: #f8f8f8;
}
.szlsqq{
    width: 1200px;
    margin: auto;
    z-index: 9;
    position: relative;
}
.szlsqq img{
    width: 100%;
}
.szlsqq>div{
    position: absolute;
    width: 315px;
    height: 63px;
    border-radius: 41px;
    border: 1px solid #23227b;
    text-align: center;
    line-height: 63px;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
}
.szlsqq>div:hover{
    background-color: #caccff;
    border: solid 1px #1e25e6;
}
.szhovers1{
    top: 60px;
    left: 135px;
}.szhovers2{
    top: 178px;
    left: 81px;
}.szhovers3{
    top: 302px;
    left: 81px;
}.szhovers4{
    top: 409px;
    left: 135px;
}.szhovers5{
    top: 60px;
    right: 128px;
}.szhovers6{
    top: 178px;
    right: 79px;
}.szhovers7{
    top: 302px;
    right: 79px;
}.szhovers8{
    top: 409px;
    right: 128px;
}
/* 轮播图 */
.szlbt-box{
    width: 100%;
    margin-top: -60px;
    background-color: #2659ff;
}

.szlbtyg{
    position: relative;
    width: 1200px;
    margin: auto;
}
.szlbtyg img{
    width: 100%;
}

/* 5阶教学标准 */
.xgwjiebox {
	width: 1200px;
    margin: auto;
    margin-top: 71px;
}
.xgwjiebox>p{
    text-align: center;
    font-size: 36px;
}
.xgxxwj{
    width: 100%;
    height: 204px;
    margin-top: 72px;
}
.xgxxwj>ul>li{
    list-style: none;
    float: left;
    margin-bottom: 42px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
        width: 165px;
        height: 60px;
        margin-right: 41px;
        box-sizing: border-box;
        color: #438ae4;
        border: solid 1px #438ae4;
        cursor: pointer;
}
.xgxxwj>ul>.xgcdli{
    width: 268px;
}
.xgxxwj>ul>li:last-child{
    margin-right: 0px;
}
.xgxxwj>ul>li:nth-of-type(5){
    margin-right: 0px;
}
.xgxxwj>ul>li:hover{
    color: white;
        background-color: #438ae4;
}
.xgwjiebox>img{
    width: 100%;
}
/* 底部图片 */
.xbimgs-1{
    margin-top: 73px;
}
.xbimgs-1 img {
    width: 100%;
}