* {
    margin: 0;
    padding: 0;
}

/* 效果 */
.xiaoguobox {
    margin: auto;
    width: 100%;
    margin-top: 120px;
}


/* ==========轮播图+课程========== */
.index-banner{
    width: 100%;
    height: 600px;
    position: relative;
}
/* ===========轮播图========= */
.banner{
    width: 100%;
    height: 600px;
}
.banner>img{
    width: 100%;
    height: 100%;
}
/* =======轮播图切换按钮========= */
.banner-switch{
    width: 96px;
    height: 42px;
    position: absolute;
    top: 87%;
    left: 84%;
    display: flex;
    justify-content: space-between;
}
.banner-switch>div{
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.527);
}
.switch-left>img,.switch-right>img{
   margin: 14px;
}

/* ===========课程类型========== */
.banner-course{
    width: 370px;
    height: 540px;
    background-color: white;
    margin-left: 165px;
    padding: 20px 0px 0px 20px;
    box-sizing: border-box;
    position: absolute;
    top: 21px;
    left: 26px;
}
.course-one{
    font-size: 16px;
    color: #999999;
    margin-bottom: 45px;
}
.course-one-1{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.course-one-1>.wid>img{
    width: 20px;
    height: 22px;
}
.course-one-1>.widt>img{
    width: 24px;
    height: 22px;
}
.one-1-img{
    width: 24px;
    height: 20px;
    margin-right: 10px;
}

.one-1-img>img{
    width: 24px;
    height: 20px;
}
.course-one-1>p{
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}
.course-one-2{
    margin-bottom: 20px;
}
.course-one-2>span,.course-one-3>span{
    margin-right: 23px;
}


/* ============课程========= */
.course{
    width: 1200px;
    height: 224px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.course-1{
    width: 180px;
    height: 232px;
    padding-top: 63px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px #b0cef3;
}
.course-1-logo{
    width: 60px;
    height: 60px;
    background-color: gray;
}
.center{
    margin: 0 auto;
}
.course-1-logo>img{
    width: 60px;
    height: 60px;
}
.course-1-txt{
    height: 28px;
    font-size: 20px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 15px;
}
.course-1-link{
    width: 104px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #BCBCBC;
    border: 1px solid #BCBCBC;
    border-radius: 30px;
    margin-bottom: 15px;
}
.course-1-line{
    width: 100%;
    height: 5px;
    background:gray;
}


/* 辅导模式*/
.xbxian-xia {
    width: 100%;
    height: 542px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url("../images/yinxing/fdmsbgt.png");
    background-size: cover;
}

.xbxian-ul {
    list-style: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
    height: 399px;
}

.xbxian-ul>li {
    width: 398px;
    float: left;
    height: 198px;
    border-right: 1px dotted #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbxian-ul>li:nth-of-type(3n) {
    border-right: 0px;
}

.xbxian-ul>li:nth-of-type(1) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(2) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(3) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbli-div {
    width: 155px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.xbli-div>div {
    width: 22px;
    height: 2px;
    margin-top: -10px;
    background-color: #5998e7;
}

.xbli-div>p {
    font-size: 40px;
    color: #333333;
}

.xbli-div>span {
    font-size: 20px;
    color: #333333;
}

/* 立即预约测评 */
.xgljcpbox {
    background-color: #438ae6;
    box-shadow: 0 0 2px #438ae6;
}

.xgljcpl {
    width: 1200px;
    margin: auto;
    height: 119px;
    position: relative;
}

.xgljcpl>div {
    width: 343px;
    height: 72px;
    bottom: 27px;
    right: 205px;
    cursor: pointer;
    position: absolute;
}

.xgljcpl>img {
    width: 1111px;
    position: absolute;
    bottom: 0px;
    margin-left: 89px;
}

/* 优秀教师模范 */
.szxxjsbox1 {
    width: 100%;
    padding-top: 30px;
    background-color: #f8f8f8;
}

.szlsqq {
    width: 1200px;
    margin: auto;
    z-index: 9;
    position: relative;
}

.szlsqq img {
    width: 100%;
}

.szlsqq>div {
    position: absolute;
    width: 315px;
    height: 63px;
    border-radius: 41px;
    border: 1px solid #23227b;
    text-align: center;
    line-height: 63px;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
}

.szlsqq>div:hover {
    background-color: #caccff;
    border: solid 1px #1e25e6;
}

.szhovers1 {
    top: 60px;
    left: 135px;
}

.szhovers2 {
    top: 178px;
    left: 81px;
}

.szhovers3 {
    top: 302px;
    left: 81px;
}

.szhovers4 {
    top: 409px;
    left: 135px;
}

.szhovers5 {
    top: 60px;
    right: 128px;
}

.szhovers6 {
    top: 178px;
    right: 79px;
}

.szhovers7 {
    top: 302px;
    right: 79px;
}

.szhovers8 {
    top: 409px;
    right: 128px;
}

/* 轮播图 */
.szlbt-box {
    width: 100%;
    margin-top: -60px;
    background-color: #2659ff;
}

.szlbtyg {
    position: relative;
    width: 1200px;
    margin: auto;
}

.szlbtyg img {
    width: 100%;
}

/* 5阶教学标准 */
.xgwjiebox {
    width: 1200px;
    margin: auto;
    margin-top: 71px;
    position: relative;
}

.xgwjiebox>p {
    text-align: center;
    font-size: 36px;
}

.xgxxwj {
    width: 100%;
    height: 204px;
    margin-top: 72px;
}

.xgxxwj>ul>li {
    list-style: none;
    float: left;
    margin-bottom: 42px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    width: 165px;
    height: 60px;
    margin-right: 41px;
    box-sizing: border-box;
    color: #438ae4;
    border: solid 1px #438ae4;
    cursor: pointer;
}

.xgxxwj>ul>.xgcdli {
    width: 268px;
}

.xgxxwj>ul>li:last-child {
    margin-right: 0px;
}

.xgxxwj>ul>li:nth-of-type(5) {
    margin-right: 0px;
}

.xgxxwj>ul>li:hover {
    color: white;
    background-color: #438ae4;
}

.xgwjiebox>img {
    width: 100%;
}

.xgwjieboxan {
    width: 204px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    background-color: #fbbf07;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 48px;
    bottom: 25px;
}

.xgan1 {
    left: 17px;
}
.xgan2 {
    left: 259px;
}

.xgan3 {
    left: 499px;
}

.xgan4 {
    left: 739px;
}
.xgan5 {
    left: 980px;
}


/* 表单 */
.xb-formx {
	width: 100%;
    height: 1388px;
    margin-top: 72px;
    overflow: hidden;
	background-color: #f6f9fe;
}
.xb-form {
    height: 472px;
    width: 1200px;
    margin: auto;
}
.xgfor-div{
    position: relative;
        width: 579px;
        height: 200px;
        float: left;
        margin-bottom: 30px;
        box-shadow:0 0 10px #cadeff;
        background-color: white;
        padding: 24px;
        box-sizing: border-box;
}
.xgfor-div>img{
    width: 38px;
    height: 38px;
    margin-right: 8px;
}
.xgfor-div:nth-of-type(2n){
    margin-left: 42px;
}
.xgfor-div:nth-of-type(5){
    margin-bottom:0px;
}
.xgfor-div:nth-of-type(6){
    margin-bottom:0px;
}
.xgfor-div>span{
    position: absolute;
    font-size: 30px;
    color: #427ef0;
    font-weight: 600;
}
.xgfor-div>p{
    letter-spacing: 1px;
    line-height: 36px;
    margin-top: 19px;
    top: 74px;
}
.xb-form>p{
    margin-top: 71px;
    font-size: 31px;
    text-align: center;
    margin-bottom: 73px;
}
.xb-insl {
    width: 570px;
    height: 76px;
    border: solid 1px #333333;
    padding: 0px 20px;
    font-size: 24px;
    box-sizing: border-box;
    margin-top: 40px;
}

.xb-inslaa {
    margin-right: 53px;
}

.xb-insbox {
    width: 100%;
    height: 79px;
    color: #ffffff;
        background-color: #f3b819;
    text-align: center;
    font-size: 24px;
    line-height: 79px;
    margin-top: 42px;
    cursor: pointer;
}
/* 好口碑邀您见证 */
.xgkbyn{
    width: 100%;
    height: 987px;
    background-image: url("../images/yinxing/xgsjbj.png");
    background-size: cover;
}
.xgsjbox{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.xgsjbox>p{
    font-size: 36px;
    margin-top: 72px;
    text-align: center;
}
.xgsjbox>img{
    height: 565px;
    margin-top: 72px;
}
.xgsjbox>span{
    font-family: HYYaKuHeiW;
    margin-top: 41px;
	font-size: 30px;
	line-height: 24px;
}
.xgsjbox>div{
    width: 472px;
	height: 72px;
    margin-top: 24px;
	font-size: 30px;
    line-height: 72px;
    text-align: center;
    cursor: pointer;
    background-color: #f3b819;
    color: #275bfd;
}
/* 进步效果看得见 */

.xgbaox{
    width: 1200px;
    margin: 0 auto;
    margin-top: 71px;
    position: relative;
}
.xgbaox>p{
    text-align: center;
    font-size: 36px;
}
.xgbaox>div{
    width: 1200px;
    height: 438px;
    margin-top: 71px;
    overflow: hidden;
}
.xgbaox>span{
    position: absolute;
    bottom: 221px;
    width: 38px;
    height: 41px;
    cursor: pointer;
    background-size: cover;
}
.xgle{
    margin-left: -58px;
    background-image: url("../images/yinxing/xgle.png");
}
.xgri{
    margin-left: 1220px;
    background-image: url("../images/yinxing/xgri.png");
}
.xgxblba{
    position: relative;
    left: -307px;
    width: 1814px;
    list-style: none;
    height: 438px;
}
.xgxblba>li{
    float: left;
    margin-right: 32px;
    width: 275px;
    height: 100%;
}
.xgxblba>li>img{
    width: 100%;
    height: 100%;
}
.xgxblba>li:last-child{
    margin-right: 0px;
}

/* 底部图片 */
.xbimgs-1 {
    margin-top: 73px;
}

.xbimgs-1 img {
    width: 100%;
}