* {
    margin: 0;
    padding: 0;

}

.xueba {
    margin: auto;
    width: 100%;
    margin-top: 120px;
}

/* 图片 */
.xueba .xbimgs-1 img {
    width: 100%;
}

/* 辅导模式*/
.xbxian-xia {
    width: 100%;
    height: 542px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    background-image: url("../images/yinxing/fdmsbgt.png");
    background-size: cover;
}

.xbxian-ul {
    list-style: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
    height: 399px;
}

.xbxian-ul>li {
    width: 398px;
    float: left;
    height: 198px;
    border-right: 1px dotted #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xbxian-ul>li:nth-of-type(3n) {
    border-right: 0px;
}

.xbxian-ul>li:nth-of-type(1) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(2) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbxian-ul>li:nth-of-type(3) {
    border-bottom: 1px dotted #d8d8d8;
}

.xbli-div {
    width: 155px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.xbli-div>div {
    width: 22px;
    height: 2px;
    margin-top: -10px;
    background-color: #5998e7;
}

.xbli-div>p {
    font-size: 40px;
    color: #333333;
}

.xbli-div>span {
    font-size: 20px;
    color: #333333;
}

/* 图片 */
.xbimgs-2 img {
    width: 100%;
}

.xbimgs-2 p {
    text-align: center;
    color: #b9b9b9;
    font-size: 19px;
    margin-bottom: 30px;
}

/* 表单 */
.xb-form {
    height: 472px;
    width: 1200px;
    margin: auto;
}

.xb-insl {
    width: 570px;
    height: 76px;
    border: solid 1px #333333;
    padding: 0px 20px;
    font-size: 24px;
    box-sizing: border-box;
    margin-top: 40px;
}

.xb-inslaa {
    margin-right: 53px;
}

.xb-insbox {
    width: 100%;
    height: 79px;
    color: #ffffff;
    background-color: #262cdc;
    text-align: center;
    font-size: 24px;
    line-height: 79px;
    margin-top: 53px;
    cursor: pointer;
}

/* 方格布局 课程 */
.xb-grow {
    width: 1200px;
    height: 728px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.xb-grow>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.xb-grow>div>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.xb-grow11 {
    height: 215px;
    color: #ffffff;
    background-color: #1e25e6;
}

.xb-grow12 {
    height: 215px;
    color: #ffffff;
    box-shadow: 0 0 8px #d9e4f1;
}

.xb-grow31 {
    height: 226px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px 18px;
    background-color: #1e25e6;
}

.xb-grow21 {
    height: 315px;
    position: relative;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px 18px;
    background-color: #1e25e6;
}

.xb-grow22 {
    height: 185px;
    box-sizing: border-box;
    padding: 10px 18px;
    color: #ffffff;
    background-color: #1e25e6;
}
.xb-grow1 {
    width: 303px;
}

.xb-grow2 {
    width: 518px;
}
.xb-grow2>div>span{
    font-size: 24px;

}
.xb-grow2>div>p{
    font-size: 18px;
}
.xb-grow2>div>button{
    border: 0px;
    color: #a3a6ff;
    font-size: 20px;
    width: 165px;
    height: 41px;
    background-color: #4047ff;
    cursor: pointer;
}
.xb-grow2>div>div {
    width: 42px;
    height: 3px;
    background-color: #f4df30;
}

.xb-grow3 {
    width: 318px;
}
.xb-grow3>div>span{
    font-size: 24px;

}
.xb-grow3>div>p{
    font-size: 18px;
    line-height: 36px;
}
.xb-grow3>div>button{
    border: 0px;
    color: #a3a6ff;
    font-size: 20px;
    width: 165px;
    cursor: pointer;
    height: 41px;
    background-color: #4047ff;
}
.xb-grow2>.xb-grow21>button{
    margin: 45px 0px;
        width: 230px;
        height: 57px;
        color: #1e25e6;
        font-size: 24px;
        background-image: linear-gradient(266deg, 
            #f4de26 0%, 
            #ffffff 100%);
        box-shadow: 0px 2px 2px 0px 
            rgba(253, 250, 221, 0.39);
}
.xb-grow3>div>div {
    width: 42px;
    height: 3px;
    background-color: #f4df30;
    
}
.xb-grow1>div>p {
    text-align: center;
    margin-top: 20px;
    color: #333333;
    font-size: 36px;
}

.xb-grow1>div>span {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
    font-size: 24px;
}

.xb-grow1>.xb-grow11>p {
    color: white;
}

.xb-grow1>.xb-grow11>span {
    color: white;
}

.xb-grow21 img {
    height: 100%;
}
.xb-grow2>div>.xbmfzx{
    position: absolute;
    top: 188px;
    left: 24px;
    width: 233px;
    height: 61px;
    opacity: 0;
}
.xb-grtie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* 优秀教师模范 */
.szxxjsbox1{
    width: 100%;
    margin-top: 46px;
    background-color: #f8f8f8;
}
.szlsqq{
    width: 1200px;
    margin: auto;
    z-index: 9;
    position: relative;
}
.szlsqq img{
    width: 100%;
}
.szlsqq>div{
    position: absolute;
    width: 315px;
    height: 63px;
    border-radius: 41px;
    border: 1px solid #23227b;
    text-align: center;
    line-height: 63px;
    font-size: 24px;
    background-color: white;
    cursor: pointer;
}
.szlsqq>div:hover{
    background-color: #caccff;
    border: solid 1px #1e25e6;
}
.szhovers1{
    top: 60px;
    left: 135px;
}.szhovers2{
    top: 178px;
    left: 81px;
}.szhovers3{
    top: 302px;
    left: 81px;
}.szhovers4{
    top: 409px;
    left: 135px;
}.szhovers5{
    top: 60px;
    right: 128px;
}.szhovers6{
    top: 178px;
    right: 79px;
}.szhovers7{
    top: 302px;
    right: 79px;
}.szhovers8{
    top: 409px;
    right: 128px;
}
 /* 轮播图 */
 .szlbt-box{
    width: 100%;
    margin-top: -60px;
    background-color: #2659ff;
}

.szlbtyg{
    position: relative;
    width: 1200px;
    margin: auto;
}
.szlbtyg img{
    width: 100%;
}
/* 环境 */
.xbhuan-jin {
    width: 1200px;
    height: 889px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 73px;
}

.xbhuan-jin>div {
    float: left;
}
.xbhuan-jin>div>img{
    width: 100%;
    height: 100%;
}

.xbhuan-jin>div:nth-of-type(1) {
    width: 702px;
    height: 311px;
    margin-right: 24px;
}

.xbhuan-jin>div:nth-of-type(2) {
    width: 474px;
    height: 311px;
}

.xbhuan-jin>div:nth-of-type(3) {
    width: 340px;
    margin-right: 23px;
    margin-top: 23px;
    height: 433px;
}

.xbhuan-jin>div:nth-of-type(4) {
    width: 339px;
    margin-top: 23px;
    margin-right: 24px;
    height: 433px;
}

.xbhuan-jin>div:nth-of-type(5) {
    margin-top: 23px;
    width: 474px;
    height: 433px;
}

.xb-hj-insbox {
    width: 100%;
    height: 79px;
    color: #ffffff;
    cursor: pointer;
    background-color: #262cdc;
    text-align: center;
    font-size: 24px;
    line-height: 79px;
    margin-top: 44px;
}